:root {
  --desktop-bg: url("../../images/background-dark.gif") top left repeat;
  --workspace-bg: var(--surface-15);

  --button-dark: var(--surface-15);
  --button-light: var(--surface-06);
  --border: var(--border-brightness-00);
  --window-frame: var(--surface-11);
  --window-frame-active: var(--window-frame);
  --menu-bg: var(--surface-15);
  --menu-fg: var(--surface-00);
  --scrollbar-bg: var(--window-bg);

  --window-bg: var(--surface-12);
  --window-fg: var(--surface-00);
  --lightest: var(--surface-04);
  --lighter: var(--surface-05);
  --light: var(--surface-06);
  --medium: var(--window-bg);
  --dark: var(--surface-13);
  --darker: var(--surface-14);
  --darkest: var(--surface-15);
  --button-bg: var(--window-bg);
  --button-fg: var(--window-fg);
  --input-bg: var(--surface-15);
  --input-fg: var(--surface-00);
  --title-bar-bg: var(--dark);
  --title-bar-fg: var(--medium);
  --title-bar-active-bg: var(--surface-04);
  --title-bar-active-fg: var(--surface-00);
  --selection-bg: var(--primary-5);
  --selection-fg: var(--surface-00);
  --selection-inverse: var(--highlight);

  --field-bg: var(--surface-15);
  --field-fg: var(--surface-00);
  --disabled: var(--surface-09);
  --disabled-fg: var(--border-brightness-10-1);

  --surface-15: #040707;
  --surface-14: #0c1416;
  --surface-13: #142125;
  --surface-12: #1d2e34;
  --surface-11: #253b43;
  --surface-10: #2d4952;
  --surface-09: #355661;
  --surface-08: #395d69;
  --surface-07: #3d6370;
  --surface-06: #46707f;
  --surface-05: #4e7d8e;
  --surface-04: #568a9d;
  --surface-03: #6296a9;
  --surface-02: #71a0b1;
  --surface-01: #b8d0d8;
  --surface-00: #ffffff;

  --border-brightness-15: #9ebeca;
  --border-brightness-14: #8fb4c2;
  --border-brightness-13: #80aab9;
  --border-brightness-12: #71a0b1;
  --border-brightness-11: #6296a9;
  --border-brightness-10-1: #568a9d;
  --border-brightness-10: #4e7d8e;
  --border-brightness-09: #46707f;
  --border-brightness-08: #3d6370;
  --border-brightness-07: #355661;
  --border-brightness-06: #2d4952;
  --border-brightness-05: #253b43;
  --border-brightness-04: #1d2e34;
  --border-brightness-03: #142125;
  --border-brightness-02: #0c1416;
  --border-brightness-01: #080e0f;
  --border-brightness-00: #040707;

  --primary-6: #000000;
  --primary-5: #33001a;
  --primary-4: #80204d;
  --primary-3: #b34d73;
  --primary-2: #e680a6;
  --primary-1: #f2bfd1;
  --primary-0: #f9e6ef;

  --affirmative: #2e8b57;
  --highlight: #efc71d;
  --danger: #f2bfd1;
  --warn: #ffba66;
  --info: #afeeee;
  --debug: #b0c4de;

  --text-quote: #6fa96f;
}
