<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    {{ $settingTheme := .Data.Get "setting_theme" }}
    {{ $themes := .Data.Get "themes" }}
    {{ $colorschemes := .Data.Get "colorschemes" }}
    {{ $storage_ids := .Data.Get "storage_ids" }}
    {{ $banner := $.Site.CustomBanner }}
    {{ $favicon := $.Site.CustomFavicon }}
    {{ $background := $.Site.CustomBackground }}
    <form method="post"
          action="{{$.Site.GetFormAction "update"}}"
          class="">
      <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
      <div class="margin flex-column gap">
        <div class="field flex-column grow">
          <label for="theme">{{$._.T "theme"}}:</label>
          <div class="dropdown">
            <select id="theme" name="theme" size="1">
              {{ range $t := $themes }}
              <option value="{{$t}}" {{ if eq $settingTheme.GetTheme $t }}selected{{ end }}>{{$t}}</option>
              {{ end }}
            </select>
            <div class="dropdown-button"></div>
          </div>
        </div>
        <div class="field flex-column grow">
          <label for="colorscheme">{{$._.T "colorscheme"}}:</label>
          <div class="dropdown">
            <select id="colorscheme" name="colorscheme" size="1">
              {{ range $c := $colorschemes }}
              <option value="{{$c}}" {{ if eq $settingTheme.GetColorscheme $c }}selected{{ end }}>{{$c}}</option>
              {{ end }}
            </select>
            <div class="dropdown-button"></div>
          </div>
        </div>
        <div class="field flex-column grow">
          <label for="theme_storage_provider_id">{{$._.T "theme_storage_provider_id"}}:</label>
          <div class="dropdown">
            <select id="theme_storage_provider_id" name="theme_storage_provider_id" size="1">
              <option value="">{{$._.T "none"}}</option>
              {{ range $id := $storage_ids }}
              <option value="{{$id}}" {{ if eq $settingTheme.ThemeStorageProviderID $id }}selected{{ end }}>{{$id}}</option>
              {{ end }}
            </select>
            <div class="dropdown-button"></div>
          </div>
        </div>
        <div class="field flex-column grow">
          <label for="theme_storage_path">{{$._.T "theme_storage_path"}}:</label>
          <input type="text" id="theme_storage_path" name="theme_storage_path" class="input"
                 value="{{$settingTheme.ThemeStoragePath}}" maxlength="255">
        </div>
      </div>
      <div class="actions margin flex-row justify-end gap">
        <button type="submit" class="affirmative" title="{{$._.T "update"}}">{{$._.T "update"}}</button>
      </div>
    </form>
    <div class="field flex-column grow margin">
      <label>{{$._.T "custom_banner"}}:</label>
      {{ if $banner }}
      <img class="picture lowered" src="{{$banner}}" alt="{{$._.T "custom_banner"}}">
      <form method="post"
            action="{{$.Site.GetFormAction "banner/remove"}}"
            class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <div class="actions flex-row justify-end gap">
          <button type="submit" class="danger" title="{{$._.T "remove_banner"}}">{{$._.T "remove_banner"}}</button>
        </div>
      </form>
      {{ else if $settingTheme.ThemeStorageProviderID }}
      <form method="post"
            action="{{$.Site.GetFormAction "banner"}}"
            enctype="multipart/form-data"
            class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <div class="fieldrow flex-row flex-wrap gap">
          <input type="file" id="custom_banner" name="custom_banner" class="input grow" accept="image/*">
        </div>
        <div class="actions flex-row justify-end gap">
          <button type="submit" class="affirmative" title="{{$._.T "upload_banner"}}">{{$._.T "upload_banner"}}</button>
        </div>
      </form>
      {{ else }}
      <small>{{$._.T "custom_banner_storage_hint"}}</small>
      {{ end }}
    </div>
    <div class="field flex-column grow margin">
      <label>{{$._.T "custom_favicon"}}:</label>
      {{ if $favicon }}
      <img class="picture lowered" src="{{$favicon}}" alt="{{$._.T "custom_favicon"}}">
      <form method="post"
            action="{{$.Site.GetFormAction "favicon/remove"}}"
            class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <div class="actions flex-row justify-end gap">
          <button type="submit" class="danger" title="{{$._.T "remove_favicon"}}">{{$._.T "remove_favicon"}}</button>
        </div>
      </form>
      {{ else if $settingTheme.ThemeStorageProviderID }}
      <form method="post"
            action="{{$.Site.GetFormAction "favicon"}}"
            enctype="multipart/form-data"
            class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <div class="fieldrow flex-row flex-wrap gap">
          <input type="file" id="custom_favicon" name="custom_favicon" class="input grow" accept="image/*">
        </div>
        <div class="actions flex-row justify-end gap">
          <button type="submit" class="affirmative" title="{{$._.T "upload_favicon"}}">{{$._.T "upload_favicon"}}</button>
        </div>
      </form>
      {{ else }}
      <small>{{$._.T "custom_favicon_storage_hint"}}</small>
      {{ end }}
    </div>
    <div class="field flex-column grow margin">
      <label>{{$._.T "custom_background"}}:</label>
      {{ if $background }}
      <img class="picture lowered" src="{{$background}}" alt="{{$._.T "custom_background"}}">
      <form method="post"
            action="{{$.Site.GetFormAction "background/remove"}}"
            class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <div class="actions flex-row justify-end gap">
          <button type="submit" class="danger" title="{{$._.T "remove_background"}}">{{$._.T "remove_background"}}</button>
        </div>
      </form>
      {{ else if $settingTheme.ThemeStorageProviderID }}
      <form method="post"
            action="{{$.Site.GetFormAction "background"}}"
            enctype="multipart/form-data"
            class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <div class="fieldrow flex-row flex-wrap gap">
          <input type="file" id="custom_background" name="custom_background" class="input grow" accept="image/*">
        </div>
        <div class="actions flex-row justify-end gap">
          <button type="submit" class="affirmative" title="{{$._.T "upload_background"}}">{{$._.T "upload_background"}}</button>
        </div>
      </form>
      {{ else }}
      <small>{{$._.T "custom_background_storage_hint"}}</small>
      {{ end }}
    </div>
  </div>
</div>
