<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/theme.css" />
    <link rel="stylesheet" href="static/css/layout.css" />
    <link rel="stylesheet" href="static/css/skins/hyperuplink.css" />
    <link rel="stylesheet" href="static/css/hyperuplink.css" />
    <title>{{.Site.Title}}</title>
  </head>
  <body class="flex-column use-preferred-font">
    <div class="desktop grow">
      <div class="container">
        {{template "views/layouts/partials/header" .}}
        {{embed}}
        {{template "views/layouts/partials/footer" .}}
      </div>
    </div>
  </body>
</html>
