<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{.Site.StaticFile "css/reset.css"}}" />
    <link rel="stylesheet" href="{{.Site.StaticFile "css/theme.css"}}" />
    <link rel="stylesheet" href="{{.Site.StaticFile "css/layout.css"}}" />
    <link rel="stylesheet" href="{{.Site.StaticFile "css/skins/hyperuplink-light.css"}}" />
    <link rel="stylesheet" href="{{.Site.StaticFile "css/hyperuplink.css"}}" />
    <title>{{.Site.TitleFull}}</title>
  </head>
  <body class="flex-column use-preferred-font">
    <div class="desktop grow">
      <div class="container">
        {{template "views/layouts/partials/header" .}}
        {{embed}}
        {{template "views/layouts/partials/footer" .}}
      </div>
    </div>
  </body>
</html>
