<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    {{ $settingAuth := .Data.Get "setting_auth" }}
    <form method="post"
          action="{{$.Site.GetFormAction "update"}}"
          class="">
      <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
      <div class="margin flex-column gap">
        <div class="field flex-column grow">
          <label for="address_type">{{$._.T "supported_address_type"}}:</label>
          <div class="dropdown">
            <select id="address_type" name="address_type" size="1">
              <option value="0" {{ if eq $settingAuth.AddressType 0 }}selected{{ end }}>{{$._.T "address_type_email_only"}}</option>
              <option value="1" {{ if eq $settingAuth.AddressType 1 }}selected{{ end }}>{{$._.T "address_type_jid_only"}}</option>
              <option value="2" {{ if eq $settingAuth.AddressType 2 }}selected{{ end }}>{{$._.T "address_type_email_and_jid"}}</option>
            </select>
            <div class="dropdown-button"></div>
          </div>
        </div>
      </div>
      <div class="actions margin flex-row justify-end gap">
        <button type="submit" class="affirmative" title="{{$._.T "update"}}">{{$._.T "update"}}</button>
      </div>
    </form>

    {{ $authProviders := .Data.Get "auth_providers" }}
    <div class="margin flex-column gap">
      <label>{{$._.T "auth_providers"}}:</label>
      {{ if $authProviders }}
      {{ range $provider := $authProviders }}
      {{ $providerClass := lower $provider.Type }}
      <fieldset class="padding provider">
        <legend class="{{ $providerClass }}">{{ $.Site.OauthProviderLabel $provider.Type }}</legend>
        <div class="grid gap config-grid align-center">
          <label>{{$._.T "provider_type"}}:</label>
          <input type="text" class="input" value="{{ $provider.Type }}" readonly>
          <label>{{$._.T "provider_key"}}:</label>
          <input type="text" class="input" value="{{ $provider.Key }}" readonly>
          <label>{{$._.T "provider_secret"}}:</label>
          <input type="password" class="input" value="hunter7" readonly>
          <label>{{$._.T "provider_scopes"}}:</label>
          <input type="text" class="input" value="{{ join ", " $provider.Scopes }}" readonly>
        </div>
      </fieldset>
      {{ end }}
      {{ else }}
      <div class="margin">{{$._.T "no_auth_providers"}}</div>
      {{ end }}
    </div>
  </div>
</div>
