        <div class="margin window active">
          <div class="title-bar">
            <div class="title-bar-text">Latest posts</div>
          </div>
          <div class="window-body">
            <div class="list" role="listbox" aria-multiselectable="true">
              <table class="detailed">
                <thead>
                  <tr>
                    <th scope="col" role="button">Name</th>
                    <th class="no-mobile" scope="col" role="button" style="width: 160px;">Forum</th>
                    <th class="no-mobile"
                        scope="col"
                        role="button"
                        style="text-align: right;
                               width: 60px">Replies</th>
                    <th class="no-mobile"
                        scope="col"
                        role="button"
                        aria-sort="descending"
                        style="text-align: right;
                               width: 140px">Updated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="icon" role="option">
                        <img src="static/icons/post.png">
                        <div class="icon-label">Opinions on Clouvider?</div>
                      </div>
                    </td>
                    <td class="no-mobile">Hosting</td>
                    <td class="no-mobile" style="text-align: right;">12</td>
                    <td class="no-mobile" style="text-align: right;">2025-11-18 20:28</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="icon" role="option">
                        <img src="static/icons/post.png">
                        <div class="icon-label">Alternatives to ProtonMail</div>
                      </div>
                    </td>
                    <td class="no-mobile">E-Mail</td>
                    <td class="no-mobile" style="text-align: right;">87</td>
                    <td class="no-mobile" style="text-align: right;">2025-11-17 12:42</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
