<!-- LATEST -->
{{ $topics := .Data.Get "topics"}}
<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$._.T "latest_topics"}}</div>
  </div>
  <div class="window-body">
    {{ template "views/layouts/partials/latest" dict "Site" $.Site "_" $._ "topics" $topics }}
  </div>
</div>
<!-- END LATEST -->
<!-- CATEGORY -->
{{ $categories_forums := .Data.Get "categories_forums"}}
{{ range $categories_idx, $item := $categories_forums }}
{{$category := $item.Category}}
<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">
      <a href="_{{$category.Slug}}" title="{{$category.Name}}">{{$category.Name}}</a>
    </div>
  </div>
  <div class="window-body">
    {{ template "views/layouts/partials/forums" dict "Site" $.Site "_" $._ "Category" $category "Forums" $item.Forums }}
  </div>
</div>
<!-- END CATEGORY -->
{{ end }}
