<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    {{ $user := .Data.Get "user"}}
    {{ $topics := .Data.Get "topics"}}
    {{ $replies := .Data.Get "replies"}}
    <div class="flex-row flex-wrap gap margin">
      <div class="flex-column quarter gap">
      <!------ Profile ------>
      <fieldset class="flex-column padding">
        <legend>{{$user.Username}}</legend>
        <div class="flex-column gap">
          {{ if $.UserProfile.ShowProfilePictures }}
          <img class="picture lowered"
               src="{{$.Site.ProfilePicture $user.ProfilePicture}}">
          {{ end }}
          <div class="role">{{ $._.T (nospace (cat $user.Role "_role")) }}</div>
          <div class="units">
            {{ range $user.MemberOf }}
            <div class="unit">{{ title . }}</div>
            {{ end }}
          </div>
          <div class="joined">{{ $._.T "joined"}}: {{$.Site.Date $user.CreatedAt}}</div>
          {{ if not (eq $user.SignatureHTML "") }}
          <div class="signature markdown lowered padding">{{ safeHTML $user.SignatureHTML }}</div>
          {{ end }}
        </div>
      </fieldset>
      {{ if $.Session.CurrentUserHasAdminRole }}
      <!------ Group membership ------>
      <fieldset class="flex-column padding">
        <legend>{{$._.T "group_membership"}}</legend>
        <form method="post"
              action="{{$.Site.GetFormAction "membership"}}"
              class="flex-column gap">
          <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
          {{ range $group := .Data.Get "groups" }}
          <label class="flex-row gap">
            <input type="checkbox"
                   name="member_of"
                   value="{{$group.ID}}"
                   {{ if has $group.ID $user.MemberOf }}checked{{ end }}>
            {{$group.Name}}
          </label>
          {{ else }}
          <div>{{$._.T "no_groups"}}</div>
          {{ end }}
          <div class="actions flex-row justify-end">
            <button type="submit" class="affirmative" title="{{$._.T "save"}}">{{$._.T "save"}}</button>
          </div>
        </form>
      </fieldset>
      <!------ Administrate ------>
      <fieldset class="flex-column padding">
        <legend>{{$._.T "administrate"}}</legend>
        <div class="flex-column gap">
          {{ template "views/layouts/partials/user-actions" dict "Site" $.Site "_" $._ "Session" $.Session "User" $user }}
        </div>
      </fieldset>
      {{ end }}
      </div>
      <div class="flex-column three-quarters gap">
        <!------ Recent Topics ------>
        <fieldset class="flex-column padding">
          <legend>{{$._.T "recent_topics"}}</legend>
          <div class="list" role="listbox">
            <table class="detailed">
              <thead>
                <tr>
                  <th scope="col">{{$._.T "subject"}}</th>
                  <th class="no-mobile date-column"
                      scope="col">{{$._.T "updated_adjective"}}</th>
                </tr>
              </thead>
              <tbody>
                {{ range $topics }}
                <tr role="option">
                  <td>
                    <a href="{{$.Site.GetRelRoot}}_{{.CategorySlug}}/{{.ForumSlug}}/{{.Slug}}"
                       title="{{.Name}}"
                       class="icon">
                      <img src="{{$.Site.GetRelRoot}}static/icons/post.png">
                      <div class="icon-label">{{.Name}}</div>
                    </a>
                  </td>
                  <td class="no-mobile date-column">{{$.Site.DateTime .CreatedAt}}</td>
                </tr>
                {{ else }}
                <tr>
                  <td colspan="2">{{$._.T "no_topics"}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </fieldset>
        <!------ Recent Replies ------>
        <fieldset class="flex-column padding">
          <legend>{{$._.T "recent_replies"}}</legend>
          <div class="list" role="listbox">
            <table class="detailed">
              <thead>
                <tr>
                  <th scope="col">{{$._.T "text"}}</th>
                  <th class="no-mobile date-column"
                      scope="col">{{$._.T "updated_adjective"}}</th>
                </tr>
              </thead>
              <tbody>
                {{ range $replies }}
                <tr role="option">
                  <td>
                    <a href="{{$.Site.GetRelRoot}}_{{.CategorySlug}}/{{.ForumSlug}}/{{.TopicSlug}}#{{.ShortID}}"
                       title="{{.TopicName}}"
                       class="icon">
                      <img src="{{$.Site.GetRelRoot}}static/icons/post.png">
                      <div class="icon-label">{{ trunc 64 .Text }}</div>
                    </a>
                  </td>
                  <td class="no-mobile date-column">{{$.Site.DateTime .CreatedAt}}</td>
                </tr>
                {{ else }}
                <tr>
                  <td colspan="2">{{$._.T "no_replies"}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
