.container {
  max-width: 958px;
  margin: 0 auto;
}

.header {
  color: var(--window-fg);
  background-color: var(--surface-13);
}

.header > .banner {
  font-size: 24px;
}

.header > .banner > a {
  display: block;
  text-decoration: none;
}

.header > .banner > a > .text {
  margin: 8px;
}

.header > .breadcrumbs {
  padding: 4px 2px 4px 2px;
}

.header > .breadcrumbs > ul {
  list-style: none;
  padding: 0px 8px;
}

.header > .breadcrumbs > ul > li::before {
  content: "> ";
}

.header > .breadcrumbs > ul > li.active {
  color: var(--primary-3);
}

.footer {
  color: var(--window-fg);
  background-color: var(--surface-13);
}

.footer > .bar {
  padding: 4px 2px 4px 2px;
}

.footer > .bar > .segment {
  margin: 0px 2px;
}

.title-bar .title-bar-text {
  font-size: inherit;
}
.title-bar .title-bar-text::before,
.title-bar .title-bar-text::after {
  height: 20px;
}
.title-bar-buttons button {
  width: 18px;
  height: 18px;
}

.button.highlight {
  background-color: var(--highlight);
}

.button.danger {
  background-color: var(--danger);
}

.detailed .big > img {
  width: 48px;
  height: 48px;
  margin-left: 0px;
}

a {
  color: var(--window-fg);
}

a.button {
  text-decoration: none;
}

.detailed a.icon {
  display: flex;
}

.detailed .icon {
  width: 100%;
  text-decoration: none;
}

.detailed .icon > .icon-label {
  text-align: left;
}

.icon-sublabel {
  font-size: 0.9rem;
  color: var(--surface-05);
}

.dialog {
  max-width: 380px;
  margin: var(--margin) auto;
}

.window.authentication {
  max-width: 380px;
  margin: var(--margin) auto;
}

.authentication > .window-body > form .actions {
  margin: 8px 2px;
}

.authentication > .window-body > .social .actions > .button {
  text-align: left;
}

.authentication > .window-body .fieldrow {
  margin: 8px 0;
}

.post {
}

.post > .profile {
  flex: 1;
  max-width: 164px;
}

.post > .profile > .picture {
}

.post > .profile > .username {
  font-size: 1.1rem;
}

.post > .profile > .status {
  font-size: 1.0rem;
}

.post > .profile > .postnum {
  font-size: 0.9rem;
}

.post > .profile > .joined {
  font-size: 0.9rem;
}

.post > .content {
  flex: 4;
}

.post > .content > .text {
  margin: 4px 8px;
}

.post > .content > .actions {
  margin-top: auto;
}

.post > .content > .actions > .button {
}

.post > .content > .actions > .button > img {
  width: 18px;
  height: 18px;
  margin: 4px auto;
}

.pagination {
  flex-wrap: wrap;
  margin-top: 16px;
}

.reply > form > textarea {
  resize: vertical;
  padding: 8px;
}

.reply > form > .actions > .button {
  padding: 4px 14px;
}

@media (max-width: 600px) {
  .no-mobile {
    display: none;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
