:root {
  --preferred-font: "Tahoma";

  --desktop-bg: #004e98;
  --window-bg: #ece9d8;
  --window-fg: #000000;
  --input-bg: #ffffff;
  --input-fg: #000000;
  --lightest: #ffffff;
  --darkest: #000000;

  --selection-bg: #316ac5;
  --selection-fg: #ffffff;
  --selection-inverse: #ce953a;
  --disabled-fg: #aca899;
  --link-hover: #000080;

  --button-bg-bottom: #f0f0ea;
  --button-bg: linear-gradient(
    180deg,
    var(--lightest) 0%,
    var(--button-bg-bottom) 100%
  );
  --button-fg: var(--window-fg);
  --button-border: #003c74;
  --button-shadow-light: #fbfaf8;
  --button-shadow-dark: #e2ded4;
  --button-shadow-inner: #d6d0c5;
  --button-active-bg: #e2e1d9;
  --button-active-shadow: #d1ccc1;
  --button-disabled-bg: #f5f4ea;
  --button-disabled-fg: #a1a192;
  --button-disabled-border: #c9c7ba;
  --focus-ring: rgba(111, 152, 207, 0.6980392157);
  --hover-ring: rgba(245, 192, 93, 0.6980392157);
  --focus-outline: #563a2e;

  --input-border: #7f9db9;

  --raised-bg-top: #fcfcfe;
  --raised-bg-bottom: #f4f3ee;
  --raised-border: #919b9c;
  --raised-shadow-1: #d0cebf;
  --raised-shadow-2: #e3e0d0;

  --fieldset-border: #d0d0bf;
  --legend-fg: #0046d5;

  --accent-blue-edge: #003ddc;
  --accent-blue-shadow: rgba(0, 14, 125, 0.5);
  --accent-blue-light: #3d95ff;
  --accent-blue: #0054e3;
  --accent-blue-mid: #0372ff;
  --accent-blue-mid-2: #026afe;
  --accent-blue-dark: #0144d0;
  --accent-blue-border: #1941a5;
  --accent-blue-border-light: #2867e1;
  --accent-blue-border-2: #3168d5;

  --title-bar-active-fg: #ffffff;
  --title-bar-active-border-top: #0058eb;
  --title-bar-active-border-left: #001abc;
  --title-bar-fg: #d8e4f8;
  --title-bar-edge: #7783da;
  --title-bar-shadow: rgba(37, 39, 105, 0.5);
  --title-bar-light: #98b2e8;
  --title-bar-light-2: #9db9eb;
  --title-bar-mid: #7996de;
  --title-bar-mid-2: #7d9be3;
  --title-bar-mid-3: #80a5e7;
  --title-bar-dark: #7a93df;
  --title-bar-border-top: #688de0;
  --title-bar-text-shadow: #0a1883;

  --window-border-light: #5b68cd;
  --window-border-dark: #00138c;
  --window-inactive-bg-1: #758cdd;
  --window-inactive-bg-2: #7587dd;
  --window-inactive-border: #4f53bc;
  --window-inactive-shadow-1: #6d74cd;
  --window-inactive-shadow-2: #7480dc;
  --window-active-bg-1: #166aee;
  --window-active-bg-2: #002cbc;
  --window-active-border-left: #0734da;
  --window-active-shadow-1: #001da0;
  --window-active-shadow-2: #0855dd;

  --scrollbar-bg: #eeede5;
  --scrollbar-button: #aec8f7;
  --scrollbar-shadow-1: #a0b5d3;
  --scrollbar-shadow-2: #7c9fd3;
  --scrollbar-inset-1: #b7caf5;
  --scrollbar-inset-2: #b3c8f5;
  --scrollbar-arrow: #4d6185;
  --scrollbar-button-hover-1: #fdffff;
  --scrollbar-button-hover-2: #b9dafb;
  --scrollbar-hover-inset-1: #abbee9;
  --scrollbar-hover-inset-2: #8da8e1;
  --scrollbar-active-1: #6e8ef1;
  --scrollbar-active-2: #d2deeb;
  --scrollbar-active-inset-1: #98a1dd;
  --scrollbar-active-inset-2: #b1c6f3;
  --scrollbar-thumb-border: #7da0d4;
  --scrollbar-thumb-inset-1: #b4c8f6;
  --scrollbar-thumb-inset-2: #bdcef7;
  --scrollbar-thumb-inset-3: #d1e0fd;
  --scrollbar-thumb-hover-inset-1: #acceff;
  --scrollbar-thumb-hover-inset-2: #e0edff;
  --scrollbar-thumb-active-inset-1: #839bd4;
  --scrollbar-thumb-active-inset-2: #9fb4ec;
  --scrollbar-track-1: #f3f1ec;
  --scrollbar-track-2: #fefefb;
  --scrollbar-thumb-1: #c8d6fb;
  --scrollbar-thumb-2: #b9cbf3;
  --scrollbar-thumb-hover-1: #dae9ff;
  --scrollbar-thumb-hover-2: #cce1ff;
  --scrollbar-thumb-active-1: #a8bef6;
  --scrollbar-thumb-active-2: #92b2f6;
  --scrollbar-grip-1: #eef4fe;
  --scrollbar-grip-2: #8cb0f8;

  --dropdown-button-1: #e1eafe;
  --dropdown-button-border: #adc3f6;
  --dropdown-hover-border: #8aa6e3;
  --dropdown-active-border: #7c89db;
  --dropdown-disabled-1: #f7f7f4;
  --dropdown-disabled-2: #e6e6dd;
  --dropdown-disabled-border: #e7e7de;
  --dropdown-disabled-arrow: #c9c9c2;

  --check-mark: #21a121;
  --check-mark-active: #1d8c1b;
  --check-disabled: #cac8bb;
  --check-border: #1c5180;
  --check-bg-1: #dcdcd7;
  --check-hover-glow: #fff0cf;
  --check-hover-ring: #f8b636;
  --check-active-1: #b0b0a7;
  --check-active-2: #f1efdf;
  --radio-dot-1: #55d551;
  --radio-dot-2: #139210;

  --range-track-bg: #f0ede0;
  --range-track-border: #9d9c99;
  --range-track-inset: #f2f1e9;
  --range-thumb-bg: #f3f3ef;
  --range-thumb-border: #778892;
  --range-thumb-border-light: #b5c4cd;
  --range-thumb-fill: #48cb46;
  --range-thumb-hover: #f9b435;
  --range-thumb-active: #229512;
  --range-focus-outline: #131627;

  --progress-border: #686868;
  --progress-inset-1: #bebebe;
  --progress-inset-2: #efefef;
  --progress-sheen: rgba(255, 255, 255, 0.6666666667);
  --progress-fill: #2ed331;

  --titlebtn-1: #bfd1fc;
  --titlebtn-2: #5e8bf7;
  --titlebtn-3: #467ef5;
  --titlebtn-4: #0760f3;
  --titlebtn-close-1: #efa390;
  --titlebtn-close-2: #e98168;
  --titlebtn-close-3: #e66a4d;
  --titlebtn-close-4: #e03802;
  --titlebtn-shadow-light: rgba(0, 0, 0, 0.1);
  --titlebtn-shadow-dark: rgba(0, 0, 0, 0.3);
  --titlebtn-shadow-active: rgba(0, 0, 0, 0.8);

  --menu-shadow: rgba(0, 0, 0, 0.5);

  --tab-border: #91a7b4;
  --tab-bg-bottom: #efeee8;
  --tab-shadow: #ecebe6;
  --tab-hover-border: #e68b2c;
  --tab-hover-glow: #ffc73c;

  --th-bg: #ebeadb;
  --th-border: #cbc7b8;
  --th-shadow: #e2decd;
  --th-divider: #c7c5b2;
  --th-hover-border: #f9b119;
  --th-hover-shadow-1: #fcc247;
  --th-hover-shadow-2: #f9a900;
  --th-active-bg: #dedfd8;
  --th-active-border: #a5a597;
  --th-active-shadow: #c1c2b8;

  --tree-toggle-border: #7898b5;
  --tree-toggle-1: #c3baaa;
  --tree-toggle-2: #cfc8bb;
}

body {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

a:focus {
  outline: 1px dotted var(--darkest);
}

code {
  font-family: monospace;
}

.desktop {
  background: var(--desktop-bg);
}

.raised {
  background: linear-gradient(
    180deg,
    var(--raised-bg-top) 0%,
    var(--raised-bg-bottom) 100%
  );
  border: 1px solid var(--raised-border);
  box-shadow:
    inset -1px -1px 0 var(--raised-bg-top),
    1px 1px 0 var(--raised-shadow-1),
    2px 2px 0 var(--raised-shadow-2);
}

.top-panel {
  color: var(--title-bar-active-fg);
  background:
    linear-gradient(90deg, var(--accent-blue-edge), transparent 5px),
    linear-gradient(270deg, var(--accent-blue-shadow), transparent 5px),
    linear-gradient(
      180deg,
      var(--accent-blue-light) 0%,
      var(--accent-blue-light) 5%,
      var(--accent-blue) 10%,
      var(--accent-blue-mid) 84%,
      var(--accent-blue-mid-2) 90%,
      var(--accent-blue-dark) 97%,
      var(--accent-blue-dark) 100%
    );
  border-bottom: 1px solid var(--accent-blue-border);
}

.right-panel {
  color: var(--title-bar-active-fg);
  background:
    linear-gradient(0, var(--accent-blue-edge), transparent 5px),
    linear-gradient(180deg, var(--accent-blue-shadow), transparent 5px),
    linear-gradient(
      90deg,
      var(--accent-blue-light) 0%,
      var(--accent-blue-light) 5%,
      var(--accent-blue) 10%,
      var(--accent-blue-mid) 84%,
      var(--accent-blue-mid-2) 90%,
      var(--accent-blue-dark) 97%,
      var(--accent-blue-dark) 100%
    );
  border-left: 1px solid var(--accent-blue-border-light);
}

.bottom-panel {
  color: var(--title-bar-active-fg);
  background:
    linear-gradient(90deg, var(--accent-blue-edge), transparent 5px),
    linear-gradient(270deg, var(--accent-blue-shadow), transparent 5px),
    linear-gradient(
      180deg,
      var(--accent-blue-light) 0%,
      var(--accent-blue-light) 5%,
      var(--accent-blue) 10%,
      var(--accent-blue-mid) 84%,
      var(--accent-blue-mid-2) 90%,
      var(--accent-blue-dark) 97%,
      var(--accent-blue-dark) 100%
    );
  border-top: 1px solid var(--accent-blue-border-2);
}

.left-panel {
  color: var(--title-bar-active-fg);
  background:
    linear-gradient(0, var(--accent-blue-edge), transparent 5px),
    linear-gradient(180deg, var(--accent-blue-shadow), transparent 5px),
    linear-gradient(
      90deg,
      var(--accent-blue-light) 0%,
      var(--accent-blue-light) 5%,
      var(--accent-blue) 10%,
      var(--accent-blue-mid) 84%,
      var(--accent-blue-mid-2) 90%,
      var(--accent-blue-dark) 97%,
      var(--accent-blue-dark) 100%
    );
  border-right: 1px solid var(--accent-blue-border);
}

fieldset {
  border: 1px solid var(--fieldset-border);
  border-radius: 3px;
}

legend {
  text-align: left;
  padding: 0 4px;
  color: var(--legend-fg);
  display: block;
}

hr {
  border-top: 1px solid var(--disabled-fg);
  border-bottom: 1px solid var(--lightest);
}

.horizontal-scrollbar,
.vertical-scrollbar {
  display: flex;
  background: var(--scrollbar-bg);
}
.horizontal-scrollbar > button,
.vertical-scrollbar > button {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  min-width: 0;
  padding: 0;
  background: radial-gradient(
    circle at 0 0,
    var(--scrollbar-bg),
    var(--scrollbar-button) 75%
  );
  border: 1px solid var(--lightest);
  border-radius: 2px;
  margin-bottom: 1px;
  margin-right: 1px;
  box-shadow:
    0 1px var(--scrollbar-shadow-1),
    1px 0 var(--scrollbar-shadow-2),
    inset 1px 1px var(--scrollbar-inset-1),
    inset -1px -1px var(--scrollbar-inset-2);
}
.horizontal-scrollbar > button::after,
.horizontal-scrollbar > button:active::after,
.horizontal-scrollbar > button:hover::after,
.vertical-scrollbar > button::after,
.vertical-scrollbar > button:active::after,
.vertical-scrollbar > button:hover::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  margin: 3px 0 0 3px;
  background: var(--scrollbar-arrow);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: initial;
  box-shadow: none;
  border: 0;
}
.horizontal-scrollbar > button:focus,
.vertical-scrollbar > button:focus {
  outline: none;
}
.horizontal-scrollbar > button:not(:disabled):active,
.vertical-scrollbar > button:not(:disabled):active {
  padding: 0;
}
.horizontal-scrollbar > button:not(:disabled, .disabled):hover,
.horizontal-scrollbar > button.hover,
.vertical-scrollbar > button:not(:disabled, .disabled):hover,
.vertical-scrollbar > button.hover {
  background: radial-gradient(
    circle at 0 0,
    var(--scrollbar-button-hover-1),
    var(--scrollbar-button-hover-2) 75%
  );
  box-shadow:
    0 1px var(--scrollbar-shadow-1),
    1px 0 var(--scrollbar-shadow-2),
    inset 1px 1px var(--scrollbar-hover-inset-1),
    inset -1px -1px var(--scrollbar-hover-inset-2);
}
.horizontal-scrollbar > button:not(:disabled, .disabled):hover::after,
.horizontal-scrollbar > button.hover::after,
.vertical-scrollbar > button:not(:disabled, .disabled):hover::after,
.vertical-scrollbar > button.hover::after {
  border: 0;
}
.horizontal-scrollbar > button:not(:disabled, .disabled):active,
.vertical-scrollbar > button:not(:disabled, .disabled):active {
  background: radial-gradient(
    circle at 0 0,
    var(--scrollbar-active-1),
    var(--scrollbar-active-2) 75%
  );
  box-shadow:
    0 1px var(--scrollbar-shadow-1),
    1px 0 var(--scrollbar-shadow-2),
    inset 1px 1px var(--scrollbar-active-inset-1),
    inset -1px -1px var(--scrollbar-active-inset-2);
}
.horizontal-scrollbar > button:not(:disabled, .disabled):active:after,
.vertical-scrollbar > button:not(:disabled, .disabled):active:after {
  display: block;
}
.horizontal-scrollbar > .scrollbar-track,
.vertical-scrollbar > .scrollbar-track {
  flex-grow: 1;
  position: relative;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb,
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb {
  position: absolute;
  border: 1px solid var(--lightest);
  border-radius: 2px;
  box-shadow:
    1px 1px var(--scrollbar-thumb-border),
    inset 1px -1px var(--scrollbar-thumb-inset-1),
    inset 0 1px var(--scrollbar-thumb-inset-2),
    inset 0 2px var(--scrollbar-thumb-inset-3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb:hover,
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb:hover {
  box-shadow:
    1px 1px var(--scrollbar-thumb-border),
    inset 1px -1px var(--scrollbar-thumb-inset-1),
    inset 0 1px var(--scrollbar-thumb-hover-inset-1),
    inset 0 2px var(--scrollbar-thumb-hover-inset-2);
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb:active,
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb:active {
  box-shadow:
    1px 1px var(--scrollbar-thumb-border),
    inset 1px -1px var(--scrollbar-thumb-inset-1),
    inset 0 1px var(--scrollbar-thumb-active-inset-1),
    inset 0 2px var(--scrollbar-thumb-active-inset-2);
}

.horizontal-scrollbar {
  padding: 1px 0;
}
.horizontal-scrollbar > button {
  height: 15px;
}
.horizontal-scrollbar > button:first-child::after {
  -webkit-mask-image: urls(icons/arrow-left.svg);
  -webkit-mask-size: 6px 9px;
  mask-image: urls(icons/arrow-left.svg);
  mask-size: 6px 9px;
  margin: 2px 0 0 3px;
}
.horizontal-scrollbar > button:last-child::after {
  -webkit-mask-image: urls(icons/arrow-right.svg);
  -webkit-mask-size: 6px 9px;
  mask-image: urls(icons/arrow-right.svg);
  mask-size: 6px 9px;
  margin: 2px 0 0 5px;
}
.horizontal-scrollbar > .scrollbar-track {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-track-1),
    var(--scrollbar-track-2)
  );
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb {
  height: 15px;
  background: linear-gradient(
    to bottom,
    var(--scrollbar-thumb-1),
    var(--scrollbar-thumb-2)
  );
  top: 0;
  bottom: 0;
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-thumb-hover-1),
    var(--scrollbar-thumb-hover-2)
  );
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb:active {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-thumb-active-1),
    var(--scrollbar-thumb-active-2)
  );
}
.horizontal-scrollbar > .scrollbar-track > .scrollbar-thumb::after {
  display: block;
  content: "";
  width: 8px;
  height: 7px;
  background: repeating-linear-gradient(
    to right,
    var(--scrollbar-grip-1),
    var(--scrollbar-grip-1) 1px,
    var(--scrollbar-grip-2) 1px,
    var(--scrollbar-grip-2) 2px
  );
}

.vertical-scrollbar {
  flex-direction: column;
  width: 17px;
  padding: 0 1px;
}
.vertical-scrollbar > button {
  width: 15px;
}
.vertical-scrollbar > button:first-child::after {
  -webkit-mask-image: urls(icons/arrow-up.svg);
  -webkit-mask-size: 9px 6px;
  mask-image: urls(icons/arrow-up.svg);
  mask-size: 9px 6px;
  margin: 4px 0 0 2px;
}
.vertical-scrollbar > button:last-child::after {
  -webkit-mask-image: urls(icons/arrow-down.svg);
  -webkit-mask-size: 9px 6px;
  mask-image: urls(icons/arrow-down.svg);
  mask-size: 9px 6px;
  margin: 5px 0 0 2px;
}
.vertical-scrollbar > .scrollbar-track {
  background: linear-gradient(
    to right,
    var(--scrollbar-track-1),
    var(--scrollbar-track-2)
  );
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb {
  width: 15px;
  background: linear-gradient(
    to right,
    var(--scrollbar-thumb-1),
    var(--scrollbar-thumb-2)
  );
  left: 0;
  right: 0;
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb:hover {
  background: linear-gradient(
    to right,
    var(--scrollbar-thumb-hover-1),
    var(--scrollbar-thumb-hover-2)
  );
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb:active {
  background: linear-gradient(
    to right,
    var(--scrollbar-thumb-active-1),
    var(--scrollbar-thumb-active-2)
  );
}
.vertical-scrollbar > .scrollbar-track > .scrollbar-thumb::after {
  display: block;
  content: "";
  width: 7px;
  height: 8px;
  background: repeating-linear-gradient(
    to bottom,
    var(--scrollbar-grip-1),
    var(--scrollbar-grip-1) 1px,
    var(--scrollbar-grip-2) 1px,
    var(--scrollbar-grip-2) 2px
  );
}

::-webkit-scrollbar {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-track-1),
    var(--scrollbar-track-2)
  );
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background: var(--window-bg);
}

::-webkit-scrollbar-thumb {
  width: 15px;
  background: linear-gradient(
    to bottom,
    var(--scrollbar-thumb-1),
    var(--scrollbar-thumb-2)
  );
  border-right: 1px solid var(--scrollbar-thumb-border);
  border-bottom: 1px solid var(--scrollbar-thumb-border);
  border-radius: 2px;
  box-shadow:
    inset 0 0 0 1px var(--lightest),
    inset 2px -2px var(--scrollbar-thumb-inset-1),
    inset 0 2px var(--scrollbar-thumb-inset-2),
    inset 0 3px var(--scrollbar-thumb-inset-3);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-thumb-hover-1),
    var(--scrollbar-thumb-hover-2)
  );
  box-shadow:
    inset 0 0 0 1px var(--lightest),
    inset 0 0 0 2px var(--scrollbar-thumb-hover-inset-1),
    inset 0 3px var(--scrollbar-thumb-hover-inset-2);
}
::-webkit-scrollbar-thumb:active {
  background: linear-gradient(
    to bottom,
    var(--scrollbar-thumb-active-1),
    var(--scrollbar-thumb-active-2)
  );
  box-shadow:
    inset 0 0 0 1px var(--lightest),
    inset 0 0 0 2px var(--scrollbar-thumb-active-inset-1),
    inset 3px 3px var(--scrollbar-thumb-active-inset-2);
}

::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  display: none;
}

::-webkit-scrollbar-button:single-button {
  display: block;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical {
  width: 16px;
  height: 17px;
}
::-webkit-scrollbar-button:vertical:hover {
  background-position: -16px 0;
}
::-webkit-scrollbar-button:vertical:active {
  background-position: -32px 0;
}

::-webkit-scrollbar-button:horizontal {
  width: 17px;
  height: 16px;
}
::-webkit-scrollbar-button:horizontal:hover {
  background-position: -17px 0;
}
::-webkit-scrollbar-button:horizontal:active {
  background-position: -34px 0;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: urls(icons/scroll-up.svg);
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: urls(icons/scroll-down.svg);
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: urls(icons/scroll-left.svg);
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: urls(icons/scroll-right.svg);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
  background: var(--button-bg);
  color: var(--button-fg);
  border: 1px solid var(--button-border);
  border-radius: 4px;
  padding: 2px 16px 3px;
  box-shadow:
    -1px -1px 0 var(--button-shadow-dark),
    1px 1px 0 var(--button-shadow-light),
    inset -1px -2px 1px var(--button-shadow-inner);
  text-align: center;
  line-height: 1;
  position: relative;
  min-width: 90px;
  cursor: default;
  user-select: none;
}
button::after,
input[type="button"]::after,
input[type="submit"]::after,
input[type="reset"]::after,
.button::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
}
button:disabled,
button.disabled,
input[type="button"]:disabled,
input[type="button"].disabled,
input[type="submit"]:disabled,
input[type="submit"].disabled,
input[type="reset"]:disabled,
input[type="reset"].disabled,
.button:disabled,
.button.disabled {
  background: var(--button-disabled-bg);
  color: var(--button-disabled-fg);
  border: 1px solid var(--button-disabled-border);
  box-shadow: none;
}
button:focus,
button.focus,
input[type="button"]:focus,
input[type="button"].focus,
input[type="submit"]:focus,
input[type="submit"].focus,
input[type="reset"]:focus,
input[type="reset"].focus,
.button:focus,
.button.focus {
  outline: none;
}
button:focus::after,
button.focus::after,
input[type="button"]:focus::after,
input[type="button"].focus::after,
input[type="submit"]:focus::after,
input[type="submit"].focus::after,
input[type="reset"]:focus::after,
input[type="reset"].focus::after,
.button:focus::after,
.button.focus::after {
  display: block;
  border: 2px solid var(--focus-ring);
}
button:not(:disabled, .disabled):hover::after,
button.hover::after,
input[type="button"]:not(:disabled, .disabled):hover::after,
input[type="button"].hover::after,
input[type="submit"]:not(:disabled, .disabled):hover::after,
input[type="submit"].hover::after,
input[type="reset"]:not(:disabled, .disabled):hover::after,
input[type="reset"].hover::after,
.button:not(:disabled, .disabled):hover::after,
.button.hover::after {
  display: block;
  border: 2px solid var(--hover-ring);
}
button:focus-visible::after,
input[type="button"]:focus-visible::after,
input[type="submit"]:focus-visible::after,
input[type="reset"]:focus-visible::after,
.button:focus-visible::after {
  outline: 1px dotted var(--focus-outline);
  outline-offset: -2px;
}
button:not(:disabled, .disabled):active,
button.active,
input[type="button"]:not(:disabled, .disabled):active,
input[type="button"].active,
input[type="submit"]:not(:disabled, .disabled):active,
input[type="submit"].active,
input[type="reset"]:not(:disabled, .disabled):active,
input[type="reset"].active,
.button:not(:disabled, .disabled):active,
.button.active {
  background: var(--button-active-bg);
  box-shadow:
    inset 1px 2px 1px var(--button-active-shadow),
    inset 0 -1px 1px var(--lightest);
}
button:not(:disabled, .disabled):active::after,
button.active::after,
input[type="button"]:not(:disabled, .disabled):active::after,
input[type="button"].active::after,
input[type="submit"]:not(:disabled, .disabled):active::after,
input[type="submit"].active::after,
input[type="reset"]:not(:disabled, .disabled):active::after,
input[type="reset"].active::after,
.button:not(:disabled, .disabled):active::after,
.button.active::after {
  display: none;
}

form:focus-within:not(
    :has(
      button:focus,
      input[type="button"]:focus,
      input[type="submit"]:focus,
      input[type="reset"]:focus
    )
  )
  button:default::after,
form:focus-within:not(
    :has(
      button:focus,
      input[type="button"]:focus,
      input[type="submit"]:focus,
      input[type="reset"]:focus
    )
  )
  input[type="button"]:default::after,
form:focus-within:not(
    :has(
      button:focus,
      input[type="button"]:focus,
      input[type="submit"]:focus,
      input[type="reset"]:focus
    )
  )
  input[type="submit"]:default::after,
form:focus-within:not(
    :has(
      button:focus,
      input[type="button"]:focus,
      input[type="submit"]:focus,
      input[type="reset"]:focus
    )
  )
  input[type="reset"]:default::after,
form:focus-within:not(
    :has(
      button:focus,
      input[type="button"]:focus,
      input[type="submit"]:focus,
      input[type="reset"]:focus
    )
  )
  .button:default::after {
  display: block;
  border: 2px solid var(--focus-ring);
}

button.primary::after,
input[type="button"].primary::after,
input[type="submit"].primary::after,
input[type="reset"].primary::after,
.button.primary::after {
  display: block;
  border: 2px solid var(--focus-ring);
}

input:not(
  [type="button"],
  [type="submit"],
  [type="reset"],
  [type="checkbox"],
  [type="radio"],
  [type="range"]
),
textarea,
.input,
select {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--input-border);
  padding: 2px 6px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}
input:not(
    [type="button"],
    [type="submit"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  )::selection,
textarea::selection,
.input::selection,
select::selection {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}
input:not(
    [type="button"],
    [type="submit"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  )[readonly],
input:not(
    [type="button"],
    [type="submit"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  ).readonly,
textarea[readonly],
textarea.readonly,
.input[readonly],
.input.readonly,
select[readonly],
select.readonly {
  background: var(--window-bg);
}
input:not(
    [type="button"],
    [type="submit"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  ):disabled,
input:not(
    [type="button"],
    [type="submit"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [type="range"]
  ).disabled,
textarea:disabled,
textarea.disabled,
.input:disabled,
.input.disabled,
select:disabled,
select.disabled {
  background: var(--window-bg);
  color: var(--disabled-fg);
}

select > option {
  padding: 2px 6px;
}

select[multiple],
select[size]:not([size="1"]) {
  padding: 1px;
}
select[multiple] > option,
select[size]:not([size="1"]) > option {
  padding: 2px 6px;
}
select[multiple] > option:checked,
select[size]:not([size="1"]) > option:checked {
  background-color: var(--window-bg);
  color: var(--window-fg);
}
select[multiple]:focus > option:checked,
select[size]:not([size="1"]):focus > option:checked {
  outline: 1px dotted var(--selection-inverse);
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

select:not([size], [multiple]):disabled,
select[size="1"]:disabled {
  border-color: var(--button-disabled-border);
}

.dropdown {
  display: inline-grid;
  padding: 0;
  grid-template-areas: "s";
}
.dropdown > select {
  appearance: none;
  grid-area: s;
  padding-right: 21px;
}
.dropdown > select:focus {
  background: var(--selection-bg);
  color: var(--selection-fg);
  box-shadow: inset 0 0 0 2px var(--lightest);
}
.dropdown > select:not(:disabled):hover + .dropdown-button {
  background-image: radial-gradient(
    circle at top left,
    var(--lightest),
    var(--scrollbar-button-hover-2)
  );
  border-color: var(--dropdown-hover-border);
}
.dropdown > select:not(:disabled):active {
  background: var(--input-bg);
  color: var(--input-fg);
}
.dropdown > select:not(:disabled):active + .dropdown-button {
  background-image: radial-gradient(
    circle at top left,
    var(--scrollbar-active-1),
    var(--scrollbar-active-2)
  );
  border-color: var(--dropdown-active-border);
  border-right-color: var(--scrollbar-inset-2);
  border-bottom-color: var(--scrollbar-inset-2);
}
.dropdown > select:disabled {
  box-shadow: inset 0 0 0 2px var(--button-disabled-bg);
}
.dropdown > select:disabled + .dropdown-button {
  background-image: radial-gradient(
    circle at top left,
    var(--dropdown-disabled-1),
    var(--dropdown-disabled-2)
  );
  border-color: var(--dropdown-disabled-border);
  box-shadow:
    0 0 0 1px var(--lightest),
    -3px 0 var(--button-disabled-bg);
}
.dropdown > select:disabled + .dropdown-button::after {
  background: var(--dropdown-disabled-arrow);
}
.dropdown > .dropdown-button {
  justify-self: end;
  grid-area: s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: var(--button-bg);
  color: var(--button-fg);
  background-image: radial-gradient(
    circle at top left,
    var(--dropdown-button-1),
    var(--scrollbar-button)
  );
  border: 1px solid var(--dropdown-button-border);
  border-radius: 2px;
  width: 15px;
  pointer-events: none;
  box-shadow: -2px 0 var(--lightest);
}
.dropdown > .dropdown-button::after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  -webkit-mask-image: urls(icons/arrow-down.svg);
  -webkit-mask-repeat: no-repeat;
  mask-image: urls(icons/arrow-down.svg);
  mask-repeat: no-repeat;
  background: var(--scrollbar-arrow);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 0;
}
input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  margin: 2px 0 0 2px;
  background: var(--check-mark);
  -webkit-mask-image: urls(icons/checkmark.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 7px 7px;
  mask-image: urls(icons/checkmark.svg);
  mask-repeat: no-repeat;
  mask-size: 7px 7px;
}
input[type="checkbox"]:not(:disabled):active:checked::after {
  background: var(--check-mark-active);
}
input[type="checkbox"]:disabled:checked::after {
  background: var(--check-disabled);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 0 0,
    var(--radio-dot-1) 0,
    var(--radio-dot-2) 75%
  );
  margin-top: 3px;
  margin-left: 3px;
}
input[type="radio"]:disabled:checked::after {
  background: var(--check-disabled);
}

input[type="checkbox"],
input[type="radio"] {
  background: radial-gradient(
    circle at 0 0,
    var(--check-bg-1) 0,
    var(--lightest) 75%
  );
  border: 1px solid var(--check-border);
}
input[type="checkbox"]:not(:disabled):hover,
input[type="radio"]:not(:disabled):hover {
  box-shadow:
    inset 1px 1px 1px var(--check-hover-glow),
    inset 0 0 0 2px var(--check-hover-ring);
}
input[type="checkbox"]:not(:disabled):active,
input[type="radio"]:not(:disabled):active {
  background: radial-gradient(
    circle at 0 0,
    var(--check-active-1) 0,
    var(--check-active-2) 75%
  );
  box-shadow: none;
}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  background: var(--lightest);
  border-color: var(--check-disabled);
}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: var(--button-disabled-fg);
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
}
input[type="checkbox"]:focus:focus-visible + label,
input[type="radio"]:focus:focus-visible + label {
  position: relative;
}
input[type="checkbox"]:focus:focus-visible + label::after,
input[type="radio"]:focus:focus-visible + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(var(--spacing) - 1px);
  right: 0;
  bottom: 0;
  border: 1px dotted var(--darkest);
  border-radius: 1px;
}

label > input[type="radio"]:focus-visible,
label > input[type="checkbox"]:focus-visible {
  outline: 1px dotted var(--darkest);
  outline-offset: 1px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  padding: 2px;
}
input[type="range"]:focus {
  outline: 1px dotted var(--range-focus-outline);
}
input[type="range"]::-moz-range-track {
  height: 2px;
  background: var(--range-track-bg);
  border: 1px solid var(--lightest);
  border-top: 1px solid var(--range-track-border);
  border-left: 1px solid var(--range-track-border);
  border-radius: 2px;
  box-shadow: inset 0 1px var(--range-track-inset);
  margin: 0 5px;
}
input[type="range"]::-moz-range-thumb {
  border-radius: 0;
  background: var(--range-thumb-bg);
  border: 1px solid var(--range-thumb-border);
  border-top: 1px solid var(--range-thumb-border-light);
  border-left: 1px solid var(--range-thumb-border-light);
  width: 9px;
  height: 20px;
  box-shadow:
    inset 0 2px var(--range-thumb-fill),
    inset 0 -2px var(--range-thumb-fill);
  border-radius: 2px;
}
input[type="range"]::-moz-range-thumb:hover {
  box-shadow:
    inset 0 2px var(--range-thumb-hover),
    inset 0 -2px var(--range-thumb-hover);
}
input[type="range"]::-moz-range-thumb:active {
  box-shadow:
    inset 0 2px var(--range-thumb-active),
    inset 0 -2px var(--range-thumb-active);
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: var(--range-track-bg);
  border: 1px solid var(--lightest);
  border-top: 1px solid var(--range-track-border);
  border-left: 1px solid var(--range-track-border);
  border-radius: 2px;
  box-shadow: inset 0 1px var(--range-track-inset);
  margin: 0 5px;
  margin: 10px 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -10px;
  border-radius: 0;
  background: var(--range-thumb-bg);
  border: 1px solid var(--range-thumb-border);
  border-top: 1px solid var(--range-thumb-border-light);
  border-left: 1px solid var(--range-thumb-border-light);
  width: 9px;
  height: 20px;
  box-shadow:
    inset 0 2px var(--range-thumb-fill),
    inset 0 -2px var(--range-thumb-fill);
  border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow:
    inset 0 2px var(--range-thumb-hover),
    inset 0 -2px var(--range-thumb-hover);
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow:
    inset 0 2px var(--range-thumb-active),
    inset 0 -2px var(--range-thumb-active);
}

progress,
.progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--lightest);
  border: 1px solid var(--progress-border);
  border-radius: 3px;
  height: 13px;
  padding: 2px 3px;
  box-shadow:
    inset 1px 1px var(--progress-inset-1),
    inset 2px 2px var(--progress-inset-2),
    inset -1px -1px var(--progress-inset-2);
}

.progress-bar {
  position: relative;
  overflow: hidden;
}
.progress-bar:not([aria-valuenow])::after,
.progress-bar > .progress-bar-value {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 3px;
  background:
    linear-gradient(
      to bottom,
      var(--progress-sheen),
      transparent 50%,
      var(--progress-sheen) 100%
    ),
    repeating-linear-gradient(
      90deg,
      var(--progress-fill),
      var(--progress-fill) 6px,
      transparent 6px,
      transparent 8px
    );
}
.progress-bar:not([aria-valuenow])::after {
  width: 30px;
  animation: 1s infinite linear indeterminate;
}

progress::-webkit-progress-bar {
  background: var(--lightest);
}

progress::-webkit-progress-value {
  background:
    linear-gradient(
      to bottom,
      var(--progress-sheen),
      transparent 50%,
      var(--progress-sheen) 100%
    ),
    repeating-linear-gradient(
      90deg,
      var(--progress-fill),
      var(--progress-fill) 6px,
      transparent 6px,
      transparent 8px
    );
}

progress::-moz-progress-bar {
  background:
    linear-gradient(
      to bottom,
      var(--progress-sheen),
      transparent 50%,
      var(--progress-sheen) 100%
    ),
    repeating-linear-gradient(
      90deg,
      var(--progress-fill),
      var(--progress-fill) 6px,
      transparent 6px,
      transparent 8px
    );
}

progress:indeterminate::-moz-progress-bar {
  width: 30px;
  animation: 1s infinite linear indeterminate;
}

progress:not([value])::-webkit-progress-value {
  width: 30px;
  animation: 1s infinite linear indeterminate;
}

@keyframes indeterminate {
  from {
    margin-left: -30px;
  }
  to {
    margin-left: 100%;
  }
}
.window,
.dialog,
.menu {
  background: linear-gradient(
    to bottom right,
    var(--window-inactive-bg-1),
    var(--window-inactive-bg-2) 100%
  );
  border-left: 1px solid var(--window-border-light);
  border-bottom: 1px solid var(--window-inactive-border);
  border-right: 1px solid var(--window-inactive-border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  padding: 2px;
  box-shadow:
    inset -1px -1px 0 var(--window-inactive-shadow-1),
    inset -2px -2px 0 var(--window-inactive-bg-2),
    inset 1px 0 0 var(--window-inactive-shadow-2),
    inset 2px 0 0 var(--window-inactive-bg-1);
}

.window {
  padding: 3px;
}

.window.maximized,
.dialog.maximized {
  border: none;
  padding: 0;
}

.window.active,
.window:focus-within,
.dialog.active,
.dialog:focus-within,
.menu {
  background: linear-gradient(
    to bottom right,
    var(--window-active-bg-1),
    var(--window-active-bg-2) 100%
  );
  border-left-color: var(--window-active-border-left);
  border-bottom-color: var(--window-border-dark);
  border-right-color: var(--window-border-dark);
  box-shadow:
    inset -1px -1px 0 var(--window-active-shadow-1),
    inset -2px -2px 0 var(--accent-blue-edge),
    inset 1px 0 0 var(--window-active-bg-1),
    inset 2px 0 0 var(--window-active-shadow-2);
}

.title-bar {
  background:
    linear-gradient(90deg, var(--title-bar-edge), transparent 5px),
    linear-gradient(270deg, var(--title-bar-shadow), transparent 5px),
    linear-gradient(
      180deg,
      var(--title-bar-light) 0%,
      var(--title-bar-light-2) 5%,
      var(--title-bar-mid) 10%,
      var(--title-bar-mid-2) 84%,
      var(--title-bar-mid-3) 90%,
      var(--title-bar-dark) 97%,
      var(--title-bar-dark) 100%
    );
  color: var(--title-bar-fg);
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid var(--title-bar-border-top);
  border-left: 1px solid var(--window-border-light);
  border-right: 1px solid var(--window-border-dark);
}

.use-preferred-font .title-bar {
  font-family: "Trebuchet MS", sans-serif;
}

.window.active > .title-bar,
.window:focus-within > .title-bar,
.dialog.active > .title-bar,
.dialog:focus-within > .title-bar,
.title-bar.active,
.menu .title-bar {
  background:
    linear-gradient(90deg, var(--accent-blue-edge), transparent 5px),
    linear-gradient(270deg, var(--accent-blue-shadow), transparent 5px),
    linear-gradient(
      180deg,
      var(--accent-blue-light) 0%,
      var(--accent-blue-light) 5%,
      var(--accent-blue) 10%,
      var(--accent-blue-mid) 84%,
      var(--accent-blue-mid-2) 90%,
      var(--accent-blue-dark) 97%,
      var(--accent-blue-dark) 100%
    );
  color: var(--title-bar-active-fg);
  border-top-color: var(--title-bar-active-border-top);
  border-left-color: var(--title-bar-active-border-left);
}

.window > .title-bar {
  margin: -3px -4px 0 -4px;
}

.dialog > .title-bar,
.menu > .title-bar {
  margin: -2px -3px 0 -3px;
}

.title-bar-text {
  text-align: left;
  font-weight: bold;
  padding: 7px 6px 4px;
  flex-grow: 1;
  cursor: default;
}

.window.active > .title-bar .title-bar-text,
.window:focus-within > .title-bar .title-bar-text,
.dialog.active > .title-bar .title-bar-text,
.dialog:focus-within > .title-bar .title-bar-text,
.title-bar.active .title-bar-text {
  text-shadow: 1px 1px 0 var(--title-bar-text-shadow);
}

.title-bar-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 5px 5px 3px 5px;
  align-items: center;
}

.title-bar-buttons button {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  min-width: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border: 1px solid var(--lightest);
  box-shadow: none;
  margin-left: 2px;
  box-shadow:
    inset 1px 1px 0 var(--titlebtn-shadow-light),
    inset -2px -2px 2px var(--titlebtn-shadow-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-bar-buttons button:hover {
  filter: brightness(1.2);
}
.title-bar-buttons button,
.title-bar-buttons button:active {
  background:
    linear-gradient(135deg, var(--titlebtn-1) 0%, transparent 20%),
    linear-gradient(90deg, var(--titlebtn-2) 0%, transparent 40%),
    linear-gradient(180deg, var(--titlebtn-2) 0%, transparent 30%),
    linear-gradient(to bottom right, var(--titlebtn-3), var(--titlebtn-4));
}
.title-bar-buttons button:active {
  outline: none;
  filter: brightness(0.8);
  box-shadow: inset 1px 1px 1px var(--titlebtn-shadow-active);
}
.title-bar-buttons button::after {
  display: none;
  position: initial;
}
.title-bar-buttons button[data-close] {
  background:
    linear-gradient(135deg, var(--titlebtn-close-1) 0%, transparent 20%),
    linear-gradient(90deg, var(--titlebtn-close-2) 0%, transparent 40%),
    linear-gradient(180deg, var(--titlebtn-close-2) 0%, transparent 30%),
    linear-gradient(
      to bottom right,
      var(--titlebtn-close-3),
      var(--titlebtn-close-4)
    );
}

.title-bar-buttons button[data-close]::after,
.title-bar-buttons button[data-minimize]::after,
.title-bar-buttons button[data-maximize]::after,
.maximized .title-bar-buttons button[data-maximize]::after {
  display: block;
  content: "";
  width: 11px;
  height: 11px;
  border: 0;
  outline: none;
  margin: auto;
  background: var(--lightest);
  border-radius: 0;
}

.title-bar-buttons button[data-close]::after {
  -webkit-mask-image: urls(icons/close.svg);
  mask-image: urls(icons/close.svg);
}

.title-bar-buttons button[data-minimize]::after {
  -webkit-mask-image: urls(icons/minimize.svg);
  mask-image: urls(icons/minimize.svg);
}

.title-bar-buttons button[data-maximize]::after {
  -webkit-mask-image: urls(icons/maximize.svg);
  mask-image: urls(icons/maximize.svg);
}

.maximized .title-bar-buttons button[data-maximize]::after {
  -webkit-mask-image: urls(icons/restore.svg);
  mask-image: urls(icons/restore.svg);
}

.window-body,
.dialog-body {
  background: var(--window-bg);
  color: var(--window-fg);
}

[role="menubar"] {
  padding: 1px;
}
[role="menubar"] > li {
  border: 1px solid transparent;
  padding: 1px 8px;
}
[role="menubar"] > li > ul,
[role="menubar"] > li > .menu {
  left: 0;
  top: 100%;
  min-width: 200px;
}

[role="menu"] {
  color: var(--darkest);
  background-color: var(--lightest);
  border: 1px solid var(--disabled-fg);
  padding: 2px;
  box-shadow: 2px 2px 4px var(--menu-shadow);
}
[role="menu"] li {
  position: relative;
  border: 1px solid transparent;
  padding: 1px 3px 1px 19px;
}
[role="menu"] li[data-shortcut]::after {
  float: right;
  content: attr(data-shortcut);
  display: block;
  margin-left: 4px;
}
[role="menu"] li > ul,
[role="menu"] li > .menu {
  left: 100%;
  margin: 0;
  top: -4px;
  margin-left: -3px;
  min-width: 200px;
}
[role="menu"] li[role="separator"] {
  border-top: 1px solid var(--disabled-fg);
  margin: 3px;
  height: 0;
  padding: 0;
}
[role="menu"] li[role="checkbox"][aria-checked="true"]::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -3.5px;
  display: block;
  width: 7px;
  height: 7px;
  background: currentColor;
  -webkit-mask-image: urls(icons/checkmark.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 7px 7px;
  mask-image: urls(icons/checkmark.svg);
  mask-repeat: no-repeat;
  mask-size: 7px 7px;
}
[role="menu"] li[role="radio"][aria-checked="true"]::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -2px;
  display: block;
  background: currentColor;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
[role="menu"] li[aria-haspopup="true"]::after {
  content: "";
  display: block;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: currentColor;
  -webkit-mask-image: urls(icons/menu-right.svg);
  -webkit-mask-size: 4px 7px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-image: urls(icons/menu-right.svg);
  mask-size: 4px 7px;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.menu > [role="menu"] {
  box-shadow: none;
  border: none;
}

[role="menu"]:not(:hover) li:focus-within,
[role="menubar"]:not(:hover) li:focus-within {
  background: var(--selection-bg);
  color: var(--selection-fg);
}
[role="menu"] li:focus,
[role="menubar"] li:focus {
  outline: none;
}
[role="menu"] li:hover,
[role="menubar"] li:hover {
  background: var(--selection-bg);
  color: var(--selection-fg);
}
[role="menu"] li[aria-disabled="true"],
[role="menubar"] li[aria-disabled="true"] {
  color: var(--disabled-fg);
}

.tabs > menu {
  display: flex;
  flex-direction: row;
  margin: 0 2px;
  gap: 1px;
}
.tabs > menu > button {
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--tab-border);
  background: linear-gradient(
    to bottom right,
    var(--lightest),
    var(--tab-bg-bottom)
  );
  box-shadow: inset -1px -1px 0 var(--tab-shadow);
  min-width: 0;
  padding: 4px 10px 4px 10px;
}
.tabs > menu > button:hover {
  border-top: 1px solid var(--tab-hover-border);
  box-shadow: inset 0 2px 0 var(--tab-hover-glow);
}
.tabs > menu > button:hover::after {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.tabs > menu > button:focus,
.tabs > menu > button:active {
  outline: none;
}
.tabs > menu > button::after {
  display: none;
}
.tabs > menu > button:focus-visible {
  outline: 1px dotted var(--darkest);
  outline-offset: -3px;
}
.tabs > menu > button[aria-selected="true"] {
  background: var(--raised-bg-top);
  border-right: 1px solid var(--raised-border);
  border-top: 1px solid var(--tab-hover-border);
  border-left: 1px solid var(--raised-border);
  box-shadow: inset 0 2px 0 var(--tab-hover-glow);
  margin-right: -2px;
  margin-left: -2px;
  margin-top: -2px;
  margin-bottom: -1px;
  padding: 2px 12px 6px 12px;
  z-index: 1;
}
.tabs > [role="tabpanel"] {
  background: linear-gradient(
    180deg,
    var(--raised-bg-top) 0%,
    var(--raised-bg-bottom) 100%
  );
  border: 1px solid var(--raised-border);
  box-shadow:
    inset -1px -1px 0 var(--raised-bg-top),
    1px 1px 0 var(--raised-shadow-1),
    2px 2px 0 var(--raised-shadow-2);
}

.list {
  background: var(--input-bg);
  color: var(--input-fg);
  border: 1px solid var(--input-border);
  box-shadow: inset 0 0 0 1px var(--lightest);
  overflow: auto;
  cursor: default;
}

.list > [role="option"] {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.list:focus-within > [role="option"][aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.list > [role="option"][aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.list > [role="option"]:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.list > [role="option"][aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 128px);
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-grid > .icon {
  flex: 0 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
}

.icon-grid > .icon > .icon-label {
  margin-top: 5px;
  text-align: center;
  padding: 1px 1px;
}

.icon-grid > .icon:focus {
  outline: none;
}

.icon-grid > .icon:focus > .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.icon-grid:focus-within > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.icon-grid > .icon[aria-selected="true"] > .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.icon-grid > .icon[aria-selected="true"]:focus > .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed {
  width: 100%;
  border-spacing: 0;
}

.detailed th {
  text-align: left;
  font-weight: normal;
  background-color: var(--th-bg);
  color: var(--darkest);
  border-bottom: 1px solid var(--th-border);
  box-shadow:
    inset 0 -1px 0 var(--th-shadow),
    inset 0 -2px 0 var(--th-bg);
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
  position: relative;
}
.detailed th::before {
  position: absolute;
  right: 0;
  top: 3px;
  display: block;
  content: "";
  border-left: 1px solid var(--th-divider);
  border-right: 1px solid var(--lightest);
  height: 1em;
}
.detailed th[aria-sort="ascending"]::after,
.detailed th[aria-sort="descending"]::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 5px;
  margin-left: 10px;
  margin-bottom: 2px;
  vertical-align: baseline;
  background-image: urls(icons/sort-asc.svg);
}
.detailed th[aria-sort="ascending"]::after {
  background-image: urls(icons/sort-asc.svg);
}
.detailed th[aria-sort="descending"]::after {
  background-image: urls(icons/sort-desc.svg);
}
.detailed th[role="button"] {
  user-select: none;
}
.detailed th[role="button"]:focus {
  outline: 1px dotted var(--focus-outline);
  outline-offset: -2px;
}
.detailed th[role="button"]:hover {
  background: var(--lightest);
  border-bottom-color: var(--th-hover-border);
  box-shadow:
    inset 0 -1px 0 var(--th-hover-shadow-1),
    inset 0 -2px 0 var(--th-hover-shadow-2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.detailed th[role="button"]:hover::before {
  display: none;
}
.detailed th[role="button"]:active {
  background: var(--th-active-bg);
  border-bottom-color: var(--th-active-border);
  box-shadow:
    inset 1px 0 0 var(--th-active-border),
    inset -1px 0 0 var(--th-active-border),
    inset 2px 1px 1px var(--th-active-shadow);
  border-radius: 0;
  padding: 3px 5px 1px 7px;
}
.detailed th[role="button"]:active::before {
  display: none;
}
.detailed th[role="button"]:active::after {
  margin-left: 9px;
  margin-bottom: 3px;
}

.detailed tr {
  outline: none;
}

.detailed tr:focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.detailed:focus-within tr[aria-selected="true"] {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed tr[aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.detailed tr[aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}

.detailed .icon:focus .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}

.detailed:focus-within .icon[aria-selected="true"] .icon-label {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}

.detailed .icon[aria-selected="true"] .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}

.detailed .icon[aria-selected="true"]:focus .icon-label {
  outline: 1px dotted var(--selection-inverse);
}

.detailed td {
  padding: 2px 6px 2px 6px;
  white-space: nowrap;
}

.detailed .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}

.detailed td.icon {
  display: flex;
}

.detailed .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
  margin-left: -4px;
}

.detailed .icon > .icon-label {
  text-align: center;
  padding: 1px 3px;
}

.detailed thead {
  position: sticky;
  top: 0;
}

.list ul[role="tree"] li {
  position: relative;
  list-style-type: none;
  min-height: 24px;
  padding-top: 2px;
}
.list ul[role="tree"] li > details {
  margin: 0;
  display: block;
}
.list ul[role="tree"] li > details > summary {
  margin: 0;
  display: flex;
  align-items: center;
}
.list ul[role="tree"] li > details > summary::before {
  content: "";
  display: block;
  border: 1px solid var(--tree-toggle-border);
  border-radius: 2px;
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--lightest);
  background-image:
    urls(icons/expand.svg),
    linear-gradient(to top, var(--tree-toggle-1), transparent 3px),
    linear-gradient(to top left, var(--tree-toggle-2), transparent 5px);
  background-repeat: no-repeat;
  top: 8px;
  left: 0;
}
.list ul[role="tree"] li > details[open] > summary::before {
  background-image:
    urls(icons/collapse.svg),
    linear-gradient(to top, var(--tree-toggle-1), transparent 3px),
    linear-gradient(to top left, var(--tree-toggle-2), transparent 5px);
}
.list ul[role="tree"] > li > details {
  padding-left: 17px;
}
.list ul[role="tree"] > li > details > summary::before {
  left: 4px;
}
.list ul[role="tree"] .icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
}
.list ul[role="tree"] .icon > img {
  width: 16px;
  height: 16px;
  margin-right: 1px;
}
.list ul[role="tree"] .icon > .icon-label {
  text-align: center;
  padding: 1px 3px;
}
.list ul[role="tree"] .icon:hover > .icon-label {
  color: var(--link-hover);
  text-decoration: underline;
}
.list ul[role="tree"] .icon:focus .icon-label {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}
.list ul[role="tree"] .icon[aria-selected="true"] > .icon-label {
  background-color: var(--window-bg);
  color: var(--window-fg);
}
.list ul[role="tree"] .icon[aria-selected="true"]:focus > .icon-label {
  outline: 1px dotted var(--selection-inverse);
}
.list ul[role="tree"] [role="treeitem"]:not(.icon) {
  display: inline-flex;
  outline: none;
}
.list ul[role="tree"] [role="treeitem"]:not(.icon):hover {
  color: var(--link-hover);
  text-decoration: underline;
}
.list ul[role="tree"] [role="treeitem"]:not(.icon):focus {
  outline: 1px dotted var(--darkest);
  outline-offset: -1px;
}
.list ul[role="tree"] [role="treeitem"]:not(.icon)[aria-selected="true"] {
  background-color: var(--window-bg);
  color: var(--window-fg);
}
.list ul[role="tree"] [role="treeitem"]:not(.icon)[aria-selected="true"]:focus {
  outline: 1px dotted var(--selection-inverse);
}
.list ul[role="tree"]:focus-within .icon[aria-selected="true"] .icon-label,
.list
  ul[role="tree"]:focus-within
  [role="treeitem"][aria-selected="true"]:not(.icon) {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}
.list ul[role="tree"] ul {
  margin-left: 8px;
  padding-left: 10px;
}
.list ul[role="tree"] ul li {
  margin-left: -15px;
  padding-left: 16px;
}
