{{ $dict := . }}
{{ $site := get $dict "Site"}}
{{ $form := get $dict "Form"}}
{{ $_ := get $dict "_"}}
{{ $hasSubject := get $dict "hasSubject"}}
{{ $hasPoll := get $dict "hasPoll"}}
{{ $pollOptionsMax := get $dict "pollOptionsMax"}}
{{ $text := get $dict "text"}}
<!-- MENUBAR -->
<ul role="menubar">
  <li tabindex="0" aria-haspopup="true">
    {{$_.T "_f_file"}}
    <ul role="menu">
      <li tabindex="0" data-shortcut="Ctrl+S">{{$_.T "save_draft"}}</li>
      <li role="separator"></li>
      <li tabindex="0">{{$_.T "discard_verb"}}</li>
    </ul>
  </li>
  <li tabindex="0" aria-haspopup="true">
    {{$_.T "_e_dit"}}
    <ul role="menu">
      <li data-shortcut="Ctrl+Z" aria-disabled="true">{{$_.T "undo_verb"}}</li>
      <li role="separator"></li>
      <li data-shortcut="Ctrl+X" aria-disabled="true">{{$_.T "cut_verb"}}</li>
      <li tabindex="0" data-shortcut="Ctrl+C" aria-disabled="true">{{$_.T "copy_verb"}}</li>
      <li tabindex="0" data-shortcut="Ctrl+V">{{$_.T "paste_verb"}}</li>
    </ul>
  </li>
  <li tabindex="0" aria-haspopup="true">
    {{$_.T "for_m_at"}}
    <ul role="menu">
      <li tabindex="0" data-shortcut="Ctrl+B">{{$_.T "bold_adjective"}}</li>
      <li tabindex="0" data-shortcut="Ctrl+I">{{$_.T "italic_adjective"}}</li>
      <li tabindex="0" data-shortcut="Ctrl+U">{{$_.T "underlined_adjective"}}</li>
      <li role="separator"></li>
      <li tabindex="0" data-shortcut="Ctrl+O">{{$_.T "quote_verb"}}</li>
      <li tabindex="0" data-shortcut="Ctrl+M">{{$_.T "image_noun"}}</li>
    </ul>
  </li>
  <li tabindex="0" class="help-menu" aria-haspopup="true">
    {{$_.T "_h_elp"}}
    <ul role="menu">
      <li tabindex="0">{{$_.T "formatting_noun"}}</li>
    </ul>
  </li>
</ul>
<!-- END MENUBAR -->
<div class="editor">
  {{ if eq $hasSubject true }}
  <div class="">
    <label for="name">{{ $_.T "subject"}}:</label>
    {{$form.Input "text" "name" "" false}}
  </div>
  {{ end }}
  <label for="text">{{ $_.T "text"}}:</label>
  <textarea name="text" cols="72" rows="12" wrap="soft" placeholder="{{ $_.T "editor_placeholder" }}">{{$text}}</textarea>
  <div class="field flex-column">
    <label for="attachments">{{ $_.T "attachments"}}:</label>
    <input type="file" id="attachments" name="attachments" multiple>
  </div>
  {{ if $hasPoll }}
  {{ template "views/layouts/partials/editor.poll" dict "_" $_ "pollOptionsMax" $pollOptionsMax }}
  {{ end }}
</div>
