<!-- MENUBAR -->
<ul role="menubar">
  <li tabindex="0" aria-haspopup="true">
    <u>F</u>ile
    <ul role="menu">
      <li tabindex="0" data-shortcut="Ctrl+S">Save Draft</li>
      <li role="separator"></li>
      <li tabindex="0">Discard</li>
    </ul>
  </li>
  <li tabindex="0" aria-haspopup="true">
    <u>E</u>dit
    <ul role="menu">
      <li data-shortcut="Ctrl+Z" aria-disabled="true">Undo</li>
      <li role="separator"></li>
      <li data-shortcut="Ctrl+X" aria-disabled="true">Cut</li>
      <li tabindex="0" data-shortcut="Ctrl+C" aria-disabled="true">Copy</li>
      <li tabindex="0" data-shortcut="Ctrl+V">Paste</li>
    </ul>
  </li>
  <li tabindex="0" aria-haspopup="true">
    For<u>m</u>at
    <ul role="menu">
      <li tabindex="0" data-shortcut="Ctrl+B">Bold</li>
      <li tabindex="0" data-shortcut="Ctrl+I">Italic</li>
      <li tabindex="0" data-shortcut="Ctrl+U">Underline</li>
      <li role="separator"></li>
      <li tabindex="0" data-shortcut="Ctrl+O">Quote</li>
      <li tabindex="0" data-shortcut="Ctrl+M">Image</li>
    </ul>
  </li>
  <li tabindex="0" class="help-menu" aria-haspopup="true">
    <u>H</u>elp
    <ul role="menu">
      <li tabindex="0">Formatting</li>
    </ul>
  </li>
</ul>
<!-- END MENUBAR -->
<div class="editor">
  <div class="">
    <label for="name">{{ $._.T "subject"}}:</label>
    {{$.Form.Input "text" "name" "" false}}
  </div>
  <label for="text">{{ $._.T "text"}}:</label>
  <textarea name="text"
            cols="72"
            rows="12"
            wrap="soft"
            placeholder="Write here, Markdown supported."></textarea>
</div>
