{{ $dict := . }}
{{ $site := get $dict "Site"}}
{{ $_ := get $dict "_"}}
{{ $category := get $dict "Category"}}
{{ $forums := get $dict "Forums"}}
<div class="list" role="listbox">
  <table class="detailed">
    <thead>
      <tr>
        <th scope="col" role="button">{{$_.T "name_noun"}}</th>
        <th class="no-mobile"
            scope="col"
            role="button"
            style="text-align: right;
                   width: 60px">{{$_.T "topics_noun"}}</th>
        <th class="no-mobile"
            scope="col"
            role="button"
            style="text-align: right;
                   width: 60px">{{$_.T "replies_noun"}}</th>
        <th class="no-mobile date-column"
            scope="col"
            role="button"
            aria-sort="descending">{{$_.T "updated_adjective"}}</th>
      </tr>
    </thead>
    <tbody>
      {{ range $forums_idx, $forum := $forums }}
      <!-- FORUM -->
      <tr role="option">
        <td class="icon big">
          <a href="_{{$category.Slug}}/{{$forum.Slug}}"
             title="{{$forum.Name}}"
             class="icon big">
            <img src="{{$site.GetRelRoot}}static/icons/category.png">
            <div class="icon-label">
              <div>{{$forum.Name}}</div>
              <div class="icon-sublabel">{{$forum.Description}}</div>
            </div>
          </a>
        </td>
        <td class="no-mobile" style="text-align: right;">{{$forum.Topics}}</td>
        <td class="no-mobile" style="text-align: right;">{{$forum.Replies}}</td>
        <td class="no-mobile date-column">{{$site.DateTime $forum.LastReplyAt}}</td>
      </tr>
      <!-- END FORUM -->
      {{ end }}
    </tbody>
  </table>
</div>
