<div class="margin header raised">
  <div class="banner">
    <a href="{{.Site.GetRelRoot}}" title="{{.Site.Title}}">
      <img src="{{.Site.StaticFile "images/banner.jpg"}}">
      <!-- <div class="text">VT100 Community</div> -->
    </a>
  </div>
  <div class="flex-row menubar">
    <div class="flex-column grow">
      <ul role="menubar">
        {{ template "views/layouts/partials/menu" dict "Site" .Site "Menu" .Menu.Get }}
      </ul>
    </div>
    <div class="flex-column">
      <a href="{{.Site.GetRelRoot}}~{{$.Session.GetCurrentUserUsername}}" class="username">{{$.Session.GetCurrentUserUsername}}</a>
    </div>
  </div>
  <div class="breadcrumbs raised">
    <ul class="lowered flex-row gap">
      {{$breadcrumbs := .Breadcrumbs.Get}}
      {{ range $breadcrumbs }}
      <li class="{{ if .IsActive }}active{{ end }}">
        <a href="{{.Href}}" title="{{.Title}}">{{ safeHTML .Label }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
