        <div class="margin header raised">
          <div class="banner">
            <a href="" title="">
              <img src="static/images/banner.jpg">
              <!-- <div class="text">VT100 Community</div> -->
            </a>
          </div>
          <ul role="menubar">
            <li tabindex="0" aria-haspopup="true">
              <u>A</u>ccount
              <ul role="menu">
                <li tabindex="0">
                  <a href="" title="">Settings</a>
                </li>
                <li role="separator"></li>
                <li tabindex="0" aria-haspopup="true">
                  Security
                  <ul role="menu">
                    <li tabindex="0">
                      <a href="" title="">Password</a>
                    </li>
                    <li tabindex="0">
                      <a href="" title="">2-Factor Authentication</a>
                    </li>
                  </ul>
                </li>
                <li role="separator"></li>
                <li tabindex="0">
                  <a href="" title="">Sign out</a>
                </li>
              </ul>
            </li>
            <li tabindex="0" aria-haspopup="true">
              Ad<u>m</u>inistration
              <ul role="menu">
                <li tabindex="0">
                  <a href="" title="">General</a>
                </li>
                <li tabindex="0">
                  <a href="" title="">Authentication</a>
                </li>
                <li tabindex="0" aria-haspopup="true">
                  Communication
                  <ul role="menu">
                    <li tabindex="0">
                      <a href="" title="">E-Mail</a>
                    </li>
                    <li tabindex="0">
                      <a href="" title="">XMPP</a>
                    </li>
                  </ul>
                </li>
                <li role="separator"></li>
                <li tabindex="0" aria-haspopup="true">
                  Board Settings
                  <ul role="menu">
                    <li tabindex="0">
                      <a href="" title="">Categories</a>
                    </li>
                    <li tabindex="0">
                      <a href="" title="">Forums</a>
                    </li>
                    <li role="separator"></li>
                    <li tabindex="0">
                      <a href="" title="">Posts</a>
                    </li>
                    <li tabindex="0">
                      <a href="" title="">Profile Pictures</a>
                    </li>
                    <li tabindex="0">
                      <a href="" title="">Attachments</a>
                    </li>
                    <li tabindex="0">
                      <a href="" title="">Signatures</a>
                    </li>
                    <li role="separator"></li>
                    <li tabindex="0">
                      <a href="" title="">Look &amp; Feel</a>
                    </li>
                  </ul>
                </li>
                <li role="separator"></li>
                <li tabindex="0">
                  <a href="" title="">Users</a>
                </li>
                <li role="separator"></li>
                <li tabindex="0">
                  <a href="" title="">Adminlog</a>
                </li>
              </ul>
            </li>
            <li tabindex="0" aria-haspopup="true">
              <u>V</u>iew
              <ul role="menu">
                <li tabindex="0" aria-haspopup="true">
                  Mode
                  <ul role="menu">
                    <li tabindex="0" role="checkbox" aria-checked="true">
                      <a href="" title="">Light</a>
                    </li>
                    <li tabindex="0" role="checkbox" aria-checked="false">
                      <a href="" title="">Dark</a>
                    </li>
                  </ul>
                </li>
                <li role="separator"></li>
                <li tabindex="0" role="checkbox" aria-checked="true">
                  <a href="" title="">Banner</a>
                </li>
                <li tabindex="0" role="checkbox" aria-checked="true">
                  <a href="" title="">Footer</a>
                </li>
                <li tabindex="0" role="checkbox" aria-checked="true">
                  <a href="" title="">Profile Pictures</a>
                </li>
                <li role="separator"></li>
                <li tabindex="0">
                  <a href="" title="Refresh"><u>R</u>efresh</a>
                </li>
              </ul>
            </li>
            <li tabindex="0" class="help-menu" aria-haspopup="true">
              Help
              <ul role="menu">
                <li tabindex="0">
                  <a href="" title="">User Manual</a>
                </li>
                <li role="separator"></li>
                <li tabindex="0">
                  <a href="" title="">Terms of Service</a>
                </li>
                <li tabindex="0">
                  <a href="" title="">Privacy Policy</a>
                </li>
                <li tabindex="0">
                  <a href="" title="">Contact</a>
                </li>
                <li role="separator"></li>
                <li tabindex="0">
                  <a href="" title="">About</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="breadcrumbs raised">
            <ul class="lowered flex-row gap">
              <li>
                <a href="" title="">Cloud</a>
              </li>
              <li>
                <a href="" title="">Hosting</a>
              </li>
              <li class="active">
                <a href="" title="">Opinions on Clouvider?</a>
              </li>
            </ul>
          </div>
        </div>

