{{ $dict := . }}
{{ $site := get $dict "Site"}}
{{ $menu := get $dict "Menu"}}
{{ range $menu }}
{{ if .IsSeparator }}
<li role="separator"></li>
{{ else }}
<li tabindex="0"
    {{ if gt (len .SubItems) 0 }}
    aria-haspopup="true"
    {{ end }}
    {{ if .IsCheckbox }}
    role="checkbox"
    aria-checked="{{.Checked}}"
    {{ end }}
    {{ if .Disabled }}
    aria-disabled="true"
    {{ end }}>
  {{ if .Href }}
  <a {{ if not .Disabled }}
     href="{{$site.HrefTo .Href}}"
     {{ end }}
     title="{{.Title}}">{{ safeHTML .Label }}</a>
{{ else }}
  {{ safeHTML .Label }}
  {{ end }}
  {{ if gt (len .SubItems) 0 }}
  <ul role="menu">
    {{ template "views/layouts/partials/menu" dict "Site" $site "Menu" .SubItems }}
  </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}
