{{ $dict := . }}
{{ $site := get $dict "Site"}}
{{ $session := get $dict "Session"}}
{{ $_ := get $dict "_"}}
{{ $post := get $dict "post"}}
<div class="raised padding margin post flex-row gap">
  <fieldset class="profile padding">
    <img class="picture lowered"
         src="{{$site.ProfilePicture $post.AuthorProfilePicture}}">
    <a href="{{$site.GetRelRoot}}~{{$post.AuthorUsername}}"
       title="{{$post.AuthorUsername}}">{{$post.AuthorUsername}}</a>
    <div class="role">{{ $_.T (nospace (cat $post.AuthorRole "_role")) }}</div>
    <div class="units">
      {{ range $post.AuthorMemberOf }}
      <div class="unit">{{ title . }}</div>
      {{ end }}
    </div>
    <div class="joined">{{ $_.T "joined"}}: {{$site.Date $post.AuthorJoinedAt}}</div>
  </fieldset>
  <div class="content flex-column">
    <div class="text">{{ safeHTML $post.HTML }}</div>
    <div class="actions flex-row space-between gap">
      <div class="left-side">
        <div class="timestamp button disabled">{{ $site.DateTime $post.CreatedAt}}</div>
      </div>
      <div class="right-side flex-row space-between gap">
        {{ if $session.IsLoggedIn }}
        <a class="button danger" href="" title="{{$_.T "report_post"}}">!</a>
        <a class="button"
           href="{{$site.GetPathname}}?page={{$site.GetPager.ActivePage}}&reply={{$post.ID}}#reply"
           title="{{$_.T "reply_to_post"}}">@</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
