{{ $dict := . }}
{{ $site := get $dict "Site"}}
{{ $session := get $dict "Session"}}
{{ $_ := get $dict "_"}}
{{ $post := get $dict "post"}}
{{ $canWrite := get $dict "canWrite"}}
{{ $canModerate := get $dict "canModerate"}}
{{ $target := get $dict "target"}}
{{ $topicURL := get $dict "topicURL"}}
{{ $poll := get $dict "poll"}}
{{ if $post }}
<div id="post-{{$post.ShortID}}" class="raised padding margin post flex-row gap">
  <fieldset class="profile padding">
    <img class="picture lowered"
         src="{{$site.ProfilePicture $post.AuthorProfilePicture}}">
    <a href="{{$site.GetRelRoot}}~{{$post.AuthorUsername}}"
       title="{{$post.AuthorUsername}}">{{$post.AuthorUsername}}</a>
    <div class="role">{{ $_.T (nospace (cat $post.AuthorRole "_role")) }}</div>
    <div class="units">
      {{ range $post.AuthorMemberOf }}
      <div class="unit">{{ title . }}</div>
      {{ end }}
    </div>
    <div class="joined">{{ $_.T "joined"}}: {{$site.Date $post.AuthorJoinedAt}}</div>
  </fieldset>
  <div class="content flex-column">
    {{ if $poll }}
    <fieldset class="poll">
      <legend>{{ $_.T "poll" }}</legend>
      {{ if $poll.CanVote }}
      <form method="post"
            action="{{$site.GetFormAction "poll"}}"
            class="flex-column gap padding">
        <input type="hidden" name="_csrf" value="{{$site.GetCSRFToken}}">
        {{ range $option := $poll.Options }}
        <div class="field-row">
          <input id="poll-{{$post.ShortID}}-{{$option.Index}}"
                 type="radio"
                 name="selection"
                 value="{{$option.Index}}">
          <label for="poll-{{$post.ShortID}}-{{$option.Index}}">{{$option.Text}}</label>
        </div>
        {{ end }}
        <div class="poll-actions flex-row justify-end gap">
          <button type="submit" class="button primary highlight">{{$_.T "poll_vote"}}</button>
        </div>
      </form>
      {{ else }}
      <div class="poll-results flex-column gap padding">
        {{ range $option := $poll.Options }}
        <div class="poll-result{{ if $option.Selected }} selected{{ end }}">
          <div class="poll-result-row flex-row space-between gap">
            <span class="poll-option">{{$option.Text}}</span>
            <span class="poll-votes">{{$option.Votes}} ({{$option.Percent}}%)</span>
          </div>
          <div class="poll-bar lowered">
            <div class="poll-bar-fill" style="width:{{$option.Percent}}%"></div>
          </div>
        </div>
        {{ end }}
        <div class="poll-footer flex-row space-between gap">
          <span class="poll-total">{{$_.T "poll_total"}}: {{$poll.Total}}</span>
          {{ if $poll.Ended }}
          <span class="poll-ended">{{$_.T "poll_ended"}}</span>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </fieldset>
    {{ end }}

    <div class="text markdown">{{ safeHTML $post.HTML }}</div>
    {{ $attachments := $site.Attachments $post.AttachmentIDs }}
    {{ if $attachments }}
    {{ $currentUserID := $session.GetCurrentUserID }}
    <div class="attachments">
      {{ range $attachment := $attachments }}
      <div class="attachment">
        {{ if $attachment.Inline }}
        <a href="{{$attachment.URL}}" title="{{$attachment.Filename}}">
          <img class="attachment-image" src="{{$attachment.URL}}" alt="{{$attachment.Filename}}">
        </a>
        {{ end }}
        <div class="attachment-row flex-row space-between gap">
          {{ if $attachment.Inline }}
          <span class="attachment-filename">{{$attachment.Filename}}</span>
          {{ else }}
          <a href="{{$attachment.URL}}" title="{{$attachment.Filename}}">{{$attachment.Filename}}</a>
          {{ end }}
          <div class="attachment-actions flex-row gap justify-end">
            {{ if and (ne $currentUserID "") (eq $currentUserID $attachment.AuthorID) }}
            <a class="button danger" href="" title="{{$_.T "delete"}}">{{$_.T "delete"}}</a>
            {{ end }}
            {{ if $canModerate }}
            <a class="button" href="" title="{{$_.T "moderate_verb"}}">{{$_.T "moderate_verb"}}</a>
            <a class="button" href="" title="{{$_.T "spam_verb"}}">{{$_.T "spam_verb"}}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ if not (eq $post.AuthorSignatureHTML "") }}
    <div class="signature markdown">{{ safeHTML $post.AuthorSignatureHTML }}</div>
    {{ end }}
    <div class="actions flex-row space-between gap">
      <div class="left-side">
        <div class="timestamp lowered">{{ $site.DateTime $post.CreatedAt}}</div>
      </div>
      <div class="right-side flex-row space-between gap">
        {{ if $session.IsLoggedIn }}
        {{ $reportReturn := printf "%s#post-%s" $topicURL $post.ShortID }}
        <a class="button danger"
           href="{{$site.GetRelRoot}}report?target={{$target}}&id={{$post.ShortID}}&return={{urlquery $reportReturn}}"
           title="{{$_.T "report_post"}}">!</a>
        {{ if $canWrite }}
        <a class="button"
           href="{{$site.GetPathname}}?page={{$site.GetPager.ActivePage}}&reply={{$post.ShortID}}#reply"
           title="{{$_.T "reply_to_post"}}">@</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
