<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    {{ template "views/layouts/partials/flash" . }}
    {{ $user := .Data.Get "user"}}
    {{ $settingProfiles := .Data.Get "setting_profiles"}}
    <form method="post"
          action="{{$.Site.GetFormAction "update"}}"
          enctype="multipart/form-data"
          class="">
      <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
      <div class="flex-row flex-wrap gap margin">
        {{ if $settingProfiles.EnablePicture }}
        <!------ Profile Picture ------>
        <fieldset class="flex-column profile-picture padding">
          <legend>{{$._.T "profile_picture"}}</legend>
          <img class="picture lowered"
               src="{{$.Site.ProfilePicture $user.ProfilePicture}}">
          {{$.Form.Input "file" "profile_picture" "" true "accept" "image/*"}}
        </fieldset>
        {{ end }}
        <!------ Signature       ------>
        <fieldset class="flex-column grow signature padding">
          <legend>{{$._.T "signature"}}</legend>
          <label>{{$._.T "preview_noun"}}:</label>
          <div class="padding lowered signature-preview">{{ safeHTML $user.SignatureHTML }}</div>
          <label>{{$._.T "signature"}}:</label>
          <textarea name="signature_text"
                    rows="6"
                    wrap="soft"
                    placeholder="{{ $._.T "signature_placeholder" }}">{{$user.SignatureText}}</textarea>
        </fieldset>
      </div>
      <div class="actions margin flex-row justify-end gap">
        <button type="submit" class="affirmative" title="{{$._.T "update"}}">{{$._.T "update"}}</button>
      </div>
    </form>
  </div>
</div>
