:root {
  --desktop-bg: url("../../images/background-light.gif") top left repeat;
  --workspace-bg: var(--surface-15);

  --button-dark: var(--surface-06);
  --button-light: var(--surface-15);
  --border: var(--border-brightness-00);
  --window-frame: var(--surface-11);
  --window-frame-active: var(--window-frame);
  --menu-bg: var(--surface-15);
  --menu-fg: var(--surface-00);
  --scrollbar-bg: var(--window-bg);

  --window-bg: var(--surface-12);
  --window-fg: var(--surface-00);
  --lightest: var(--surface-15);
  --lighter: var(--surface-14);
  --light: var(--surface-13);
  --medium: var(--window-bg);
  --dark: var(--surface-05);
  --darker: var(--surface-04);
  --darkest: var(--surface-00);
  --button-bg: var(--window-bg);
  --button-fg: var(--window-fg);
  --input-bg: var(--surface-15);
  --input-fg: var(--surface-00);
  --title-bar-bg: var(--dark);
  --title-bar-fg: var(--medium);
  --title-bar-active-bg: var(--surface-04);
  --title-bar-active-fg: var(--surface-00);
  --selection-bg: var(--primary-5);
  --selection-fg: var(--surface-00);
  --selection-inverse: var(--highlight);

  --field-bg: var(--surface-15);
  --field-fg: var(--surface-00);
  --disabled: var(--surface-09);
  --disabled-fg: var(--border-brightness-10-1);

  --surface-15: #ffffff;
  --surface-14: #f0f5f8;
  --surface-13: #e1ecef; /* window bg */
  --surface-12: #c4d9e0;
  --surface-11: #a7c5d0;
  --surface-10: #8ab2c0;
  --surface-09: #6d9fb0;
  --surface-07: #337990;
  --surface-06: #2c687c;
  --surface-05: #245767;
  --surface-04: #1d4552;
  --surface-00: #000000;

  --border-brightness-15: #ffffff;
  --border-brightness-14: #f0f5f8;
  --border-brightness-13: #e1ecef;
  --border-brightness-12: #c4d9e0;
  --border-brightness-11: #a7c5d0;
  --border-brightness-10-1: #97c3d2; /* adadad */
  --border-brightness-10: #8ab2c0;
  --border-brightness-09: #6d9fb0;
  --border-brightness-08: #508ca0;
  --border-brightness-07: #337990;
  --border-brightness-06: #2c687c;
  --border-brightness-05: #245767;
  --border-brightness-04: #1d4552;
  --border-brightness-03: #16343e;
  --border-brightness-02: #0f2329;
  --border-brightness-00: #000000;

  --primary-6: #f9e6ef;
  --primary-5: #f2bfd1;
  --primary-4: #e680a6;
  --primary-3: #b34d73;
  --primary-2: #80204d;
  --primary-1: #33001a;
  --primary-0: #000000;

  --affirmative: #8fbc8f;
  --highlight: #efc71d;
  --danger: #f2bfd1;
  --warn: #ffba66;
  --info: #afeeee;
  --debug: #b0c4de;

  --text-quote: #28784b;
}
