<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    {{ $users := .Data.Get "users"}}
    {{ range $users }}
    <div class="raised padding margin post flex-row gap">
      <div class="flex-row grow gap" style="align-items: center;">
        <a href="{{$.Site.GetRelRoot}}~{{.Username}}"
           title="{{.Username}}"
           class="{{ if .DeletedAt.Valid }}deleted{{ else if .BannedAt.Valid }}banned{{ else if not .ConfirmedAt.Valid }}unconfirmed{{ end }}">{{.Username}}</a>
        <a href="mailto:{{.Email}}"
           title="{{.Email}}"
           class="{{ if .DeletedAt.Valid }}deleted{{ else if .BannedAt.Valid }}banned{{ else if not .ConfirmedAt.Valid }}unconfirmed{{ end }}">{{.Email}}</a>
      </div>
      {{ template "views/layouts/partials/user-actions" dict "Site" $.Site "_" $._ "Session" $.Session "User" . }}
    </div>
    {{ end }}
  </div>
</div>
