<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    {{ template "views/layouts/partials/flash" . }}
    {{ $users := .Data.Get "users"}}
    {{ range $users }}
    {{ $isSelf := eq .Username $.Session.GetCurrentUserUsername }}
    <div class="raised padding margin post flex-row gap">
      <div class="flex-row grow gap" style="align-items: center;">
        <a href="{{$.Site.GetRelRoot}}~{{.Username}}"
           title="{{.Username}}"
           class="{{ if .DeletedAt.Valid }}deleted{{ else if .BannedAt.Valid }}banned{{ else if not .ConfirmedAt.Valid }}unconfirmed{{ end }}">{{.Username}}</a>
        <a href="mailto:{{.Email}}"
           title="{{.Email}}"
           class="{{ if .DeletedAt.Valid }}deleted{{ else if .BannedAt.Valid }}banned{{ else if not .ConfirmedAt.Valid }}unconfirmed{{ end }}">{{.Email}}</a>
      </div>
      <form method="post"
            action="{{$.Site.GetFormAction "confirm"}}"
            class="flex-column">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit"
                class=""
                title="{{$._.T "confirm"}}"
                {{ if or $isSelf .ConfirmedAt.Valid }}disabled=""{{ end }}>{{$._.T "confirm"}}</button>
      </form>
      {{ if .BannedAt.Valid }}
      <form method="post"
            action="{{$.Site.GetFormAction "unban"}}"
            class="flex-column">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit"
                class="highlight"
                title="{{$._.T "unban"}}"
                {{ if $isSelf }}disabled=""{{ end }}>{{$._.T "unban"}}</button>
      </form>
      {{ else }}
      <form method="post"
            action="{{$.Site.GetFormAction "ban"}}"
            class="flex-column">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit"
                class="highlight"
                title="{{$._.T "ban"}}"
                {{ if $isSelf }}disabled=""{{ end }}>{{$._.T "ban"}}</button>
      </form>
      {{ end }}
      <form method="post"
            action="{{$.Site.GetFormAction "delete"}}"
            class="flex-column">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <input type="hidden" name="id" value="{{.ID}}">
        <button type="submit"
                class="danger"
                title="{{$._.T "delete"}}"
                {{ if or $isSelf .DeletedAt.Valid }}disabled=""{{ end }}>{{$._.T "delete"}}</button>
      </form>
    </div>
    {{ end }}
  </div>
</div>
