{{ $topic := .Data.Get "topic"}}
{{ $replies := .Data.Get "replies"}}
{{ $reply_to := .Data.Get "reply_to"}}
{{ $reply_to_type := .Data.Get "reply_to_type"}}
<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$.Site.Title}}</div>
  </div>
  <div class="window-body {{$.Site.GetRoute.AsID}}">
    <!-- POST -->
    {{ if eq $.Site.GetPager.ActivePage 1 }}
    {{ template "views/layouts/partials/post" dict "Site" $.Site "Session" $.Session "_" $._ "post" $topic }}
    {{ end }}
    {{ range $idx_reply, $reply := $replies }}
    <!-- REPLY -->
    {{ template "views/layouts/partials/post" dict "Site" $.Site "Session" $.Session "_" $._ "post" $reply }}
    {{ end }}
    {{ template "views/layouts/partials/pagination" dict "Site" .Site }}
  </div>
</div>
<!-- REPLY -->
{{ if $.Session.IsLoggedIn }}
{{ $reply_to_id := "" }}
{{ $reply_to_quote := "" }}
{{ if $reply_to }}
{{ if eq $reply_to_type "reply" }}
{{ $reply_to_id = $reply_to.ID }}
{{ end }}
{{ $reply_to_quote = $reply_to.Text }}
{{ end }}
<div class="margin window active">
  <div class="title-bar">
    <div class="title-bar-text">{{$._.T "reply_to_thread"}}</div>
  </div>
  <div class="window-body">
    <div id="reply" class="reply">
      <form method="post" action="{{$.Site.GetFormAction}}" enctype="multipart/form-data" class="">
        <input type="hidden" name="_csrf" value="{{$.Site.GetCSRFToken}}">
        <input type="hidden" name="topic_id" value="{{$topic.ID}}">
        <input type="hidden" name="reply_id" value="{{$reply_to_id}}">
        {{ template "views/layouts/partials/editor" dict "Site" .Site "Form" .Form "_" ._ "hasSubject" false "text" ($.Site.Quote $reply_to_quote) }}
        <div class="actions flex-row justify-end gap padding">
          <input type="reset" class="button danger" value="{{._.T "clear_verb"}}">
          <button type="submit" class="button primary">{{._.T "post_verb"}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
