Hello {{.Recipient.Username}},

{{.Reply.Username}} replied to "{{.Topic}}" in {{.Category}}/{{.Forum}} with:

{{.Reply.Text}}

You can view the latest reply at {{.Reply.URL}} or you reply to this e-mail to respond.
